In [1]:
!pip install pandas google-cloud-bigquery
!pip install pandas-gbq
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.3.3)
Collecting google-cloud-bigquery
  Using cached google_cloud_bigquery-3.11.4-py2.py3-none-any.whl (219 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.3)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Using cached google_resumable_media-2.6.0-py2.py3-none-any.whl (80 kB)
Collecting proto-plus<2.0.0dev,>=1.15.0
  Using cached proto_plus-1.22.3-py3-none-any.whl (48 kB)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (2.28.1)
Collecting google-cloud-core<3.0.0dev,>=1.6.0
  Using cached google_cloud_core-2.3.3-py2.py3-none-any.whl (29 kB)
Collecting protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5
  Using cached protobuf-4.24.2-cp37-abi3-macosx_10_9_universal2.whl (409 kB)
Collecting google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5
  Using cached google_api_core-2.11.1-py3-none-any.whl (120 kB)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery) (1.50.0)
Requirement already satisfied: packaging>=20.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-cloud-bigquery) (21.3)
Collecting googleapis-common-protos<2.0.dev0,>=1.56.2
  Using cached googleapis_common_protos-1.60.0-py2.py3-none-any.whl (227 kB)
Collecting google-auth<3.0.dev0,>=2.14.1
  Using cached google_auth-2.22.0-py2.py3-none-any.whl (181 kB)
Collecting grpcio-status<2.0.dev0,>=1.33.2
  Using cached grpcio_status-1.57.0-py3-none-any.whl (5.1 kB)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.5.0-cp38-cp38-macosx_10_9_x86_64.whl (30 kB)
Requirement already satisfied: six>=1.5.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from grpcio<2.0dev,>=1.47.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=20.0.0->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.11)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Collecting grpcio<2.0dev,>=1.47.0
  Downloading grpcio-1.57.0-cp38-cp38-macosx_10_10_universal2.whl (9.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 12.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)
Installing collected packages: protobuf, grpcio, google-crc32c, proto-plus, googleapis-common-protos, google-resumable-media, google-auth, grpcio-status, google-api-core, google-cloud-core, google-cloud-bigquery
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.50.0
    Uninstalling grpcio-1.50.0:
      Successfully uninstalled grpcio-1.50.0
  Attempting uninstall: google-auth
    Found existing installation: google-auth 2.13.0
    Uninstalling google-auth-2.13.0:
      Successfully uninstalled google-auth-2.13.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.10.0 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.24.2 which is incompatible.
tensorboard 2.10.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.24.2 which is incompatible.
Successfully installed google-api-core-2.11.1 google-auth-2.22.0 google-cloud-bigquery-3.11.4 google-cloud-core-2.3.3 google-crc32c-1.5.0 google-resumable-media-2.6.0 googleapis-common-protos-1.60.0 grpcio-1.57.0 grpcio-status-1.57.0 proto-plus-1.22.3 protobuf-4.24.2

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas-gbq
  Downloading pandas_gbq-0.19.2-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: numpy>=1.16.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (1.23.4)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.16.2
  Downloading google_cloud_bigquery_storage-2.22.0-py2.py3-none-any.whl (190 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.9/190.9 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (3.11.4)
Collecting google-auth-oauthlib>=0.7.0
  Downloading google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: google-auth>=2.13.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.22.0)
Requirement already satisfied: pandas>=1.1.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas-gbq) (1.3.3)
Requirement already satisfied: setuptools in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (67.6.0)
Collecting pydata-google-auth>=1.5.0
  Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pandas-gbq) (2.11.1)
Collecting pyarrow>=3.0.0
  Downloading pyarrow-13.0.0-cp38-cp38-macosx_10_14_x86_64.whl (25.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.9/25.9 MB 11.5 MB/s eta 0:00:0000:0100:01
Collecting db-dtypes<2.0.0,>=1.0.4
  Downloading db_dtypes-1.1.1-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=17.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (21.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.28.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.2.0)
Requirement already satisfied: six>=1.9.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.15.0)
Requirement already satisfied: urllib3<2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.11)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1.1.4->pandas-gbq) (2021.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/ellvin/Library/Python/3.8/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.4.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2020.6.20)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.1)
Installing collected packages: pyarrow, google-auth-oauthlib, db-dtypes, pydata-google-auth, google-cloud-bigquery-storage, pandas-gbq
  Attempting uninstall: google-auth-oauthlib
    Found existing installation: google-auth-oauthlib 0.4.6
    Uninstalling google-auth-oauthlib-0.4.6:
      Successfully uninstalled google-auth-oauthlib-0.4.6
  WARNING: The script google-oauthlib-tool is installed in '/Users/ellvin/Library/Python/3.8/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorboard 2.10.1 requires google-auth-oauthlib<0.5,>=0.4.1, but you have google-auth-oauthlib 1.0.0 which is incompatible.
tensorboard 2.10.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.24.2 which is incompatible.
Successfully installed db-dtypes-1.1.1 google-auth-oauthlib-1.0.0 google-cloud-bigquery-storage-2.22.0 pandas-gbq-0.19.2 pyarrow-13.0.0 pydata-google-auth-1.8.2

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [3]:
pip install pandas-gbq

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting pandas-gbq
  Using cached pandas_gbq-0.19.2-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (68.1.2)
Collecting db-dtypes<2.0.0,>=1.0.4 (from pandas-gbq)
  Using cached db_dtypes-1.1.1-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (1.25.2)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.1.0)
Collecting pyarrow>=3.0.0 (from pandas-gbq)
  Obtaining dependency information for pyarrow>=3.0.0 from https://files.pythonhosted.org/packages/00/92/fb70afe5f5e0c78c8d920f556bc126b591e7253ecd5b6406f92f3e0f25f1/pyarrow-13.0.0-cp39-cp39-macosx_10_14_x86_64.whl.metadata
  Downloading pyarrow-13.0.0-cp39-cp39-macosx_10_14_x86_64.whl.metadata (3.0 kB)
Collecting pydata-google-auth>=1.5.0 (from pandas-gbq)
  Obtaining dependency information for pydata-google-auth>=1.5.0 from https://files.pythonhosted.org/packages/28/6b/3320c9ddbfc572108917e8432a07e8bd1e40054d94b5ad40c755afdc1160/pydata_google_auth-1.8.2-py2.py3-none-any.whl.metadata
  Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: google-auth>=2.13.0 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (2.22.0)
Collecting google-auth-oauthlib>=0.7.0 (from pandas-gbq)
  Using cached google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /usr/local/lib/python3.9/site-packages (from pandas-gbq) (3.11.4)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 (from pandas-gbq)
  Obtaining dependency information for google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 from https://files.pythonhosted.org/packages/83/eb/e5016412a9c6ac26b46480f83d58112b99b48c0e38ae040b46f8795dea6f/google_cloud_bigquery_storage-2.22.0-py2.py3-none-any.whl.metadata
  Downloading google_cloud_bigquery_storage-2.22.0-py2.py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: packaging>=17.0 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (23.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.60.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.2)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /usr/local/lib/python3.9/site-packages (from google-auth>=2.13.0->pandas-gbq) (1.26.16)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib>=0.7.0->pandas-gbq)
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.57.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/ellvin/Library/Python/3.9/lib/python/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.9/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.57.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2023.7.22)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq)
  Using cached oauthlib-3.2.2-py3-none-any.whl (151 kB)
Using cached google_cloud_bigquery_storage-2.22.0-py2.py3-none-any.whl (190 kB)
Downloading pyarrow-13.0.0-cp39-cp39-macosx_10_14_x86_64.whl (25.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.9/25.9 MB 8.5 MB/s eta 0:00:0000:0100:01m
Using cached pydata_google_auth-1.8.2-py2.py3-none-any.whl (15 kB)
Installing collected packages: pyarrow, oauthlib, requests-oauthlib, google-auth-oauthlib, db-dtypes, pydata-google-auth, google-cloud-bigquery-storage, pandas-gbq
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed db-dtypes-1.1.1 google-auth-oauthlib-1.0.0 google-cloud-bigquery-storage-2.22.0 oauthlib-3.2.2 pandas-gbq-0.19.2 pyarrow-13.0.0 pydata-google-auth-1.8.2 requests-oauthlib-1.3.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
from google.oauth2 import service_account
import pandas as pd
import pandas_gbq as gbq
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials

In [4]:
project_id = 'capstone-398012'
dataset_id = 'capstone'
table_id = "X_Y_merged_2"

In [5]:
from pandas_gbq import read_gbq

query = f"""
SELECT *
FROM `{project_id}.{dataset_id}.{table_id}`

"""

# Authenticate and read data from BigQuery into a DataFrame
df = read_gbq(query, project_id=project_id, dialect='standard')
df

/usr/local/lib/python3.9/site-packages/google/cloud/bigquery/table.py:2155: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
0,29012,1988,1,NaN,0.011518,NaN,NaN,0.206705,0.0,0.004777,...,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
1,27000,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
2,27036,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
3,27060,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
4,27070,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.0,0.008750,...,0.314335,0.734463,0.082206,-3.862006,-1.227931,3.352699,0.0,1,2022 12,0.0
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.0,0.000553,...,0.413217,1.003214,0.066566,-3.340707,-0.372047,3.352699,0.0,1,2022 12,0.0
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,-0.006145,NaN,0.447812,NaN,NaN,3.352699,0.0,1,2022 12,0.0
2753592,209716,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,-0.020743,...,0.248628,1.602756,NaN,-4.998984,-0.064210,3.352699,0.0,1,2022 12,0.0
2753593,210790,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,0.002868,NaN,NaN,NaN,NaN,3.352699,0.0,1,2022 12,0.0

In [9]:
df.isna().sum().sort_values(ascending=False)

dtdlevel           415827
dtdtrend           415827
liqnonfinlevel     313582
liqnonfintrend     313582
m2b                304381
ni2talevel         295878
ni2tatrend         295878
sigma              289846
sizetrend          160735
sizelevel          160735
DTDmedianNonFin    126689
liqfinlevel         64824
lqfintrend          64824
StkIndx             47043
DTDmedianFin        29919
STInt               17318
dummy297fin             0
EventDate               0
CompanyNumber           0
yyyy                    0
mm                      0
EventType               0
dtype: int64

In [7]:
df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
0,29012,1988,1,NaN,0.011518,NaN,NaN,0.206705,0.0,0.004777,...,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
1,27000,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
2,27036,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
3,27060,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
4,27070,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.0,0.008750,...,0.314335,0.734463,0.082206,-3.862006,-1.227931,3.352699,0.0,1,2022 12,0.0
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.0,0.000553,...,0.413217,1.003214,0.066566,-3.340707,-0.372047,3.352699,0.0,1,2022 12,0.0
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,-0.006145,NaN,0.447812,NaN,NaN,3.352699,0.0,1,2022 12,0.0
2753592,209716,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,-0.020743,...,0.248628,1.602756,NaN,-4.998984,-0.064210,3.352699,0.0,1,2022 12,0.0
2753593,210790,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,0.002868,NaN,NaN,NaN,NaN,3.352699,0.0,1,2022 12,0.0

In [10]:
test_df = df

In [13]:
test_df['EventType'].value_counts()

EventType
0.0    2731948
1.0      21646
Name: count, dtype: int64

In [12]:
#map 2 to 0 for event type
test_df['EventType'] = test_df['EventType'].map(lambda x : 0 if x ==2  else x)

In [18]:
test_df.isna().sum().sort_values(ascending=False)

dtdlevel           415827
dtdtrend           415827
liqnonfinlevel     313582
liqnonfintrend     313582
m2b                304381
ni2talevel         295878
ni2tatrend         295878
sigma              289846
sizetrend          160735
sizelevel          160735
DTDmedianNonFin    126689
liqfinlevel         64824
lqfintrend          64824
StkIndx             47043
DTDmedianFin        29919
STInt               17318
dummy297fin             0
EventDate               0
CompanyNumber           0
yyyy                    0
mm                      0
EventType               0
dtype: int64

In [8]:
df[df.yyyy > 1988].isna()

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
399,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
400,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
401,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
402,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
403,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2753590,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2753591,False,False,False,False,False,True,True,False,False,True,...,False,True,False,True,True,False,False,False,False,False
2753592,False,False,False,False,False,True,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2753593,False,False,False,False,False,True,True,False,False,True,...,False,True,True,True,True,False,False,False,False,False

In [200]:
df[df['dtdlevel'].isna()].describe()

,CompanyNumber,yyyy,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,ni2tatrend,sizelevel,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventType
count,415827.0,415827.0,368784.000000,398509.000000,0.0,0.0,160682.000000,160682.000000,122012.000000,122012.000000,257278.000000,257278.000000,114899.000000,160169.000000,355666.000000,355666.000000,385908.000000,289138.000000,415827.0,415827.000000
mean,62028.739796,1997.106956,0.098703,0.008780,NaN,NaN,0.370420,-0.012426,-0.020188,0.000973,-0.676541,0.044951,2.511912,0.200322,-0.208892,-0.003652,0.378605,2.352242,0.201863,0.005594
std,48493.93511,9.938582,0.159988,0.011209,NaN,NaN,0.931112,0.256482,0.132273,0.066881,2.051129,0.338804,8.533594,0.164047,0.885200,0.146073,1.021774,1.652036,0.401391,0.078171
min,7998.0,1988.0,-0.545579,-0.012097,NaN,NaN,-4.156714,-2.559415,-1.324832,-0.600948,-6.176606,-1.923094,0.152292,0.009677,-9.793003,-3.436180,0.000000,0.000000,0.0,0.000000
25%,31358.0,1990.0,-0.005116,0.000616,NaN,NaN,0.000000,0.000000,-0.003248,-0.000527,-1.985230,-0.067930,0.813702,0.088563,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
50%,48879.0,1994.0,0.106263,0.008929,NaN,NaN,0.000000,0.000000,0.001597,0.000000,-0.745909,0.009146,1.008096,0.148449,0.000000,0.000000,0.000000,2.909452,0.0,0.000000
75%,52599.0,2000.0,0.214895,0.018594,NaN,NaN,0.700495,0.000000,0.005851,0.000415,0.604090,0.168233,1.598809,0.257343,0.000000,0.000000,0.000000,3.472326,0.0,0.000000
max,212251.0,2023.0,0.713380,0.037156,NaN,NaN,4.787727,2.683886,0.216094,0.636673,6.752074,2.018934,98.093612,1.124798,0.000000,3.392903,5.790361,5.578428,1.0,2.000000

In [201]:
testing_df = df.dropna()
testing_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
1536,27053,1991,1,0.045126,0.013825,2.951571,0.000000,-0.450849,-0.033654,0.002286,...,0.119607,0.887017,0.066870,0.000000,0.000000,0.000000,2.812531,0,1991 01,0.0
1537,27080,1991,1,0.045126,0.013825,7.501780,0.000000,0.008618,-0.184399,0.003780,...,0.079964,0.913965,0.035990,0.000000,0.000000,0.000000,2.812531,0,1991 01,0.0
1538,27124,1991,1,0.045126,0.013825,6.350300,0.000000,0.565560,0.053321,0.006001,...,0.156289,1.648521,0.070901,0.000000,0.000000,0.000000,2.812531,0,1991 01,0.0
1539,27147,1991,1,0.045126,0.013825,1.160908,0.000000,0.265682,-0.147415,-0.000183,...,-0.064217,0.919097,0.138871,0.000000,0.000000,0.000000,2.812531,0,1991 01,0.0
1540,27154,1991,1,0.045126,0.013825,2.285007,0.000000,0.353529,-0.079368,0.003297,...,0.007153,0.829798,0.098126,0.000000,0.000000,0.000000,2.812531,0,1991 01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753585,54375,2022,12,-0.144284,-0.010290,8.798644,-5.357210,0.000000,0.000000,0.021169,...,0.079412,0.313639,0.082335,-1.367267,0.994831,3.352699,0.000000,1,2022 12,0.0
2753586,191078,2022,12,-0.144284,-0.010290,0.224920,-0.526079,0.000000,0.000000,0.000300,...,-0.166962,0.401578,0.550212,-7.386482,-0.762205,3.352699,0.000000,1,2022 12,0.0
2753588,196180,2022,12,-0.144284,-0.010290,2.265703,0.266661,0.000000,0.000000,0.000691,...,0.218620,0.772448,0.082074,-2.985125,-0.622279,3.352699,0.000000,1,2022 12,0.0
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.000000,0.008750,...,0.314335,0.734463,0.082206,-3.862006,-1.227931,3.352699,0.000000,1,2022 12,0.0
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.000000,0.000553,...,0.413217,1.003214,0.066566,-3.340707,-0.372047,3.352699,0.000000,1,2022 12,0.0

In [203]:
df['EventType'].value_counts()

EventType
0.0    2731834
1.0      21646
2.0        114
Name: count, dtype: int64

In [202]:
testing_df['EventType'].value_counts()

EventType
0.0    2221674
1.0      18948
Name: count, dtype: int64

In [171]:
new_df = df
new_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
0,26979,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
1,27001,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
2,27051,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
3,27068,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
4,27069,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.0,0.0,0.008750,...,0.314335,0.734463,0.082206,-3.862006,-1.227931,3.352699,0.0,1,2022 12,0.0
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.0,0.0,0.000553,...,0.413217,1.003214,0.066566,-3.340707,-0.372047,3.352699,0.0,1,2022 12,0.0
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,NaN,...,-0.006145,NaN,0.447812,NaN,NaN,3.352699,0.0,1,2022 12,0.0
2753592,209716,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,-0.020743,...,0.248628,1.602756,NaN,-4.998984,-0.064210,3.352699,0.0,1,2022 12,0.0
2753593,210790,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,NaN,...,0.002868,NaN,NaN,NaN,NaN,3.352699,0.0,1,2022 12,0.0

In [137]:
nan_count = new_df.isna().sum(axis=1)

# Create a new column with the NaN count
new_df['nan_count'] = nan_count
new_df

,CompNo,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,ni2tatrend_notNA,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA
0,26995,1988,1,0.099507,0.011518,3.357402,-0.007521,0.267996,0.004653,0.003024,...,1,1,1,1,1,1,1,1,1,1
1,27002,1988,1,0.084382,0.011518,7.332251,0.147392,0.805760,0.006890,0.006706,...,1,1,1,1,1,1,1,1,1,1
2,27016,1988,1,0.093809,0.011518,7.184027,0.078564,0.299215,-0.000388,0.005005,...,1,1,1,1,1,1,1,1,1,1
3,27024,1988,1,0.102844,0.011518,3.663156,-0.128699,0.474106,-0.034071,0.000870,...,1,1,1,1,1,1,1,1,1,1
4,27029,1988,1,0.093809,0.011518,7.383713,-0.062306,-0.308982,-0.006267,0.002402,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753075,200171,2022,12,-0.144284,-0.010290,4.672422,-0.945082,0.000000,0.000000,0.010130,...,1,1,1,1,1,1,1,1,1,1
2753076,205823,2022,12,-0.144284,-0.010290,9.769421,0.217952,0.000000,0.000000,-0.003547,...,1,0,1,1,1,1,1,1,1,1
2753077,206386,2022,12,-0.144284,-0.010290,1.170952,-1.000180,0.000000,0.000000,-0.062454,...,1,1,1,1,1,1,1,1,1,1
2753078,206506,2022,12,-0.144284,-0.010290,4.466948,0.000000,0.000000,0.000000,-0.035020,...,1,1,1,1,1,1,1,1,1,1
2753079,207519,2022,12,-0.144284,-0.010290,1.964562,-1.357927,0.000000,0.000000,-0.009489,...,1,1,1,1,1,1,1,1,1,1

In [155]:
new_df = new_df.drop(['EventDate'], axis=1)

In [172]:
#list of columns that contain NA 
#na_cols = ['liqnonfinlevel', 'liqnonfintrend', 'dtdlevel', 'dtdtrend', 'DTDmedianNonFin', 'Sector_Number', 'DTDmedianFin', 'sigma', 'm2b', 'ni2talevel', 'ni2tatrend', 'lqfintrend', 'liqfinlevel', 'sizelevel', 'sizetrend']
#na_cols = ['dtdlevel', 'dtdtrend', 'liqnonfinlevel', 'liqnonfintrend', 'm2b', 'ni2talevel', 'ni2tatrend', 'sigma', 'sizetrend', 'sizelevel', 'DTDmedianNonFin', 'liqfinlevel', 'lqfintrend', 'StkIndx', 'DTDmedianFin', 'STInt']
na_cols = ['dtdlevel', 'dtdtrend', 'liqnonfinlevel', 'liqnonfintrend', 'm2b', 'ni2talevel', 'ni2tatrend', 'sigma', 'sizetrend', 'sizelevel', 'DTDmedianNonFin', 'liqfinlevel', 'lqfintrend', 'StkIndx', 'DTDmedianFin', 'STInt']
  
#create new columns (_notNA) for each column that contains na values where 1 if original column is not na and 0 otherwise
for col in na_cols:
    new_col = col + '_notNA'
    new_df[new_col] = new_df[col].notna().astype(int)

new_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,ni2tatrend_notNA,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA
0,26979,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,0,1,1
1,27001,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,0,1,1
2,27051,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,0,1,1
3,27068,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,0,1,1
4,27069,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.0,0.0,0.008750,...,1,1,1,1,1,1,1,1,1,1
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.0,0.0,0.000553,...,1,1,1,1,1,1,1,1,1,1
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,NaN,...,0,1,1,1,1,0,0,1,1,1
2753592,209716,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,-0.020743,...,1,0,1,1,1,1,1,1,1,1
2753593,210790,2022,12,-0.144284,-0.010290,NaN,NaN,0.0,0.0,NaN,...,0,0,1,1,1,0,0,1,1,1

In [173]:
grouped_df = new_df.groupby('CompanyNumber')
grouped_df[na_cols].mean()

,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,m2b,ni2talevel,ni2tatrend,sigma,sizetrend,sizelevel,DTDmedianNonFin,liqfinlevel,lqfintrend,StkIndx,DTDmedianFin,STInt
CompanyNumber,,,,,,,,,,,,,,,,
7998,1.518742,-0.078443,0.000000,0.000000,3.563797,-0.071054,0.002666,0.445451,0.000013,-3.436716,0.000000,-1.177138,-0.075122,0.075529,3.218673,0.002178
14547,-0.539548,0.092665,-0.287932,0.144621,1.276910,-0.057850,-0.013431,0.388691,-0.003109,-2.559309,3.129606,0.000000,0.000000,0.075976,0.000000,0.000509
15984,4.196356,-0.059368,0.532569,0.019535,4.062024,0.004011,-0.000140,0.191686,0.008170,1.203744,3.467877,0.000000,0.000000,0.031920,0.000000,0.001374
18729,1.715101,-0.298528,0.362961,0.010744,0.822375,0.046946,-0.007464,0.192799,0.028287,1.732840,3.203602,0.000000,0.000000,0.111549,0.000000,-0.003699
20131,3.005580,-0.246693,1.624963,-0.188731,1.884004,-0.027036,0.001960,0.297691,-0.035856,-1.546829,3.605205,0.000000,0.000000,0.098629,0.000000,-0.004676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-2.809265,3.244875,0.000000,0.000000,0.110445,0.000000,0.009928
212229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-2.435643,3.244875,0.000000,0.000000,0.110445,0.000000,0.009928
212230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-3.153829,3.244875,0.000000,0.000000,0.110445,0.000000,0.009928
212250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-3.600412,3.244875,0.000000,0.000000,0.110445,0.000000,0.009928
212251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-1.235374,3.244875,0.000000,0.000000,0.110445,0.000000,0.009928

In [174]:
mean_values = grouped_df[na_cols].transform('mean')

new_df[na_cols] = new_df[na_cols].fillna(mean_values)

new_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,ni2tatrend_notNA,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA
0,26979,1988,1,0.093809,0.011518,9.068305,-0.081750,0.358755,-0.008507,0.009753,...,0,0,1,1,0,1,1,0,1,1
1,27001,1988,1,0.093809,0.011518,5.251635,0.060280,0.994567,0.008164,0.003176,...,0,0,1,1,0,1,1,0,1,1
2,27051,1988,1,0.093809,0.011518,3.911925,-0.026098,0.931741,0.000155,0.001221,...,0,0,1,1,0,1,1,0,1,1
3,27068,1988,1,0.155587,0.011518,11.085105,0.210869,0.753539,-0.011110,0.007926,...,0,0,1,1,0,1,1,0,1,1
4,27069,1988,1,0.161207,0.011518,2.324635,-0.008780,0.490192,0.003938,-0.000823,...,0,0,1,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.000000,0.008750,...,1,1,1,1,1,1,1,1,1,1
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.000000,0.000553,...,1,1,1,1,1,1,1,1,1,1
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.000000,NaN,...,0,1,1,1,1,0,0,1,1,1
2753592,209716,2022,12,-0.144284,-0.010290,15.854878,-1.731249,0.000000,0.000000,-0.020743,...,1,0,1,1,1,1,1,1,1,1
2753593,210790,2022,12,-0.144284,-0.010290,2.780826,0.015089,0.000000,0.000000,-0.016923,...,0,0,1,1,1,0,0,1,1,1

In [175]:
print(new_df[new_df.isna().any(axis=1)])

         CompanyNumber  yyyy  mm   StkIndx     STInt   dtdlevel  dtdtrend  \
12               27234  1988   1  0.158712  0.011518   1.114498 -0.067791
30               27382  1988   1  0.133744  0.011518        NaN       NaN
114              28759  1988   1  0.155587  0.011518   3.676621 -0.371256
139              29640  1988   1  0.100247  0.011518        NaN       NaN
147              29930  1988   1  0.118275  0.011518  -0.231850 -0.140098
...                ...   ...  ..       ...       ...        ...       ...
2753573         210398  2022  12 -0.196544  0.005723   4.163083  0.006035
2753575          33121  2022  12 -0.144284 -0.010290        NaN       NaN
2753587         193551  2022  12 -0.144284 -0.010290        NaN       NaN
2753591         208308  2022  12 -0.144284 -0.010290        NaN       NaN
2753592         209716  2022  12 -0.144284 -0.010290  15.854878 -1.731249

         liqnonfinlevel  liqnonfintrend  ni2talevel  ...  ni2tatrend_notNA  \
12                  NaN             NaN   -0.018776  ...                 0
30                  NaN             NaN         NaN  ...                 0
114                 NaN             NaN    0.004619  ...                 0
139                 NaN             NaN         NaN  ...                 0
147                 NaN             NaN   -0.007823  ...                 0
...                 ...             ...         ...  ...               ...
2753573             0.0             0.0    0.000610  ...                 1
2753575             0.0             0.0   -0.081517  ...                 1
2753587             0.0             0.0         NaN  ...                 0
2753591             0.0             0.0         NaN  ...                 0
2753592             0.0             0.0   -0.020743  ...                 1

         sigma_notNA  sizetrend_notNA  sizelevel_notNA  DTDmedianNonFin_notNA  \
12                 0                0                0                      0
30                 0                0                0                      0
114                0                0                0                      0
139                0                0                0                      0
147                0                0                0                      0
...              ...              ...              ...                    ...
2753573            0                1                1                      1
2753575            0                1                1                      1
2753587            1                1                1                      1
2753591            1                1                1                      1
2753592            0                1                1                      1

         liqfinlevel_notNA  lqfintrend_notNA  StkIndx_notNA  \
12                       1                 1              0
30                       1                 1              0
114                      1                 1              0
139                      1                 1              0
147                      1                 1              0
...                    ...               ...            ...
2753573                  1                 1              1
2753575                  1                 1              1
2753587                  0                 0              1
2753591                  0                 0              1
2753592                  1                 1              1

         DTDmedianFin_notNA  STInt_notNA
12                        1            1
30                        1            1
114                       1            1
139                       1            1
147                       1            1
...                     ...          ...
2753573                   1            1
2753575                   1            1
2753587                   1            1
2753591                   1            1
2753592                   1            1

[139287 rows x 38 columns]

In [176]:
new_df.isna().sum().sort_values(ascending=False)

liqnonfintrend           112439
liqnonfinlevel           112439
dtdtrend                  93978
dtdlevel                  93978
ni2tatrend                87934
ni2talevel                87934
m2b                       87577
sigma                     73260
sizelevel                 51013
sizetrend                 51013
liqfinlevel               14350
lqfintrend                14350
DTDmedianNonFin             853
DTDmedianFin                 70
StkIndx                      38
sizetrend_notNA               0
sigma_notNA                   0
liqfinlevel_notNA             0
sizelevel_notNA               0
DTDmedianNonFin_notNA         0
CompanyNumber                 0
lqfintrend_notNA              0
ni2talevel_notNA              0
StkIndx_notNA                 0
DTDmedianFin_notNA            0
ni2tatrend_notNA              0
dummy297fin                   0
m2b_notNA                     0
liqnonfintrend_notNA          0
liqnonfinlevel_notNA          0
dtdtrend_notNA                0
dtdlevel_notNA                0
EventType                     0
EventDate                     0
yyyy                          0
STInt                         0
mm                            0
STInt_notNA                   0
dtype: int64

In [178]:
test_df = new_df.dropna()
test_df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,ni2tatrend_notNA,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA
0,26979,1988,1,0.093809,0.011518,9.068305,-0.081750,0.358755,-0.008507,0.009753,...,0,0,1,1,0,1,1,0,1,1
1,27001,1988,1,0.093809,0.011518,5.251635,0.060280,0.994567,0.008164,0.003176,...,0,0,1,1,0,1,1,0,1,1
2,27051,1988,1,0.093809,0.011518,3.911925,-0.026098,0.931741,0.000155,0.001221,...,0,0,1,1,0,1,1,0,1,1
3,27068,1988,1,0.155587,0.011518,11.085105,0.210869,0.753539,-0.011110,0.007926,...,0,0,1,1,0,1,1,0,1,1
4,27069,1988,1,0.161207,0.011518,2.324635,-0.008780,0.490192,0.003938,-0.000823,...,0,0,1,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753586,191078,2022,12,-0.144284,-0.010290,0.224920,-0.526079,0.000000,0.000000,0.000300,...,1,1,1,1,1,1,1,1,1,1
2753588,196180,2022,12,-0.144284,-0.010290,2.265703,0.266661,0.000000,0.000000,0.000691,...,1,1,1,1,1,1,1,1,1,1
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.000000,0.008750,...,1,1,1,1,1,1,1,1,1,1
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.000000,0.000553,...,1,1,1,1,1,1,1,1,1,1
2753593,210790,2022,12,-0.144284,-0.010290,2.780826,0.015089,0.000000,0.000000,-0.016923,...,0,0,1,1,1,0,0,1,1,1

In [179]:
test_df['EventType'] = test_df['EventType'].map(lambda x : 0 if x ==2  else x)

/var/folders/rz/d40gjr2505ddk3wl3mnzmvdm0000gn/T/ipykernel_22722/3342331468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['EventType'] = test_df['EventType'].map(lambda x : 0 if x ==2  else x)

In [180]:
test_df['EventType'].value_counts()

EventType
0.0    2593717
1.0      20590
Name: count, dtype: int64

In [181]:
test_df.isna().sum().sum()

0

In [182]:
test_df.to_gbq(destination_table=f'{project_id}.{dataset_id}.filled_table_2', project_id=project_id, if_exists='replace')

Data imputation

In [192]:
df

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
0,29012,1988,1,NaN,0.011518,NaN,NaN,0.206705,0.0,0.004777,...,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
1,27000,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
2,27036,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
3,27060,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
4,27070,1988,1,NaN,0.011518,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,0,1988 01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753589,204042,2022,12,-0.144284,-0.010290,2.833938,0.936963,0.000000,0.0,0.008750,...,0.314335,0.734463,0.082206,-3.862006,-1.227931,3.352699,0.0,1,2022 12,0.0
2753590,208200,2022,12,-0.144284,-0.010290,6.098753,0.129781,0.000000,0.0,0.000553,...,0.413217,1.003214,0.066566,-3.340707,-0.372047,3.352699,0.0,1,2022 12,0.0
2753591,208308,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,-0.006145,NaN,0.447812,NaN,NaN,3.352699,0.0,1,2022 12,0.0
2753592,209716,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,-0.020743,...,0.248628,1.602756,NaN,-4.998984,-0.064210,3.352699,0.0,1,2022 12,0.0
2753593,210790,2022,12,-0.144284,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,0.002868,NaN,NaN,NaN,NaN,3.352699,0.0,1,2022 12,0.0

In [ ]:
#winsorization function
import numpy as np

def winsorize(data, lower_percentile=0.001, upper_percentile=0.999):
    lower_threshold = np.percentile(data, lower_percentile * 100)
    upper_threshold = np.percentile(data, upper_percentile * 100)

    winsorized_data = np.where(data < lower_threshold, lower_threshold, data)
    winsorized_data = np.where(winsorized_data > upper_threshold, upper_threshold, winsorized_data)

    return winsorized_data

In [194]:
df[(df['StkIndx'].isna()) & (df.CompanyNumber >7997) & (df.CompanyNumber <7999)]

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventType
115890,7998,1988,5,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 05,0.0
202727,7998,1988,8,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 08,0.0
230727,7998,1988,9,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 09,0.0
489180,7998,1988,6,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 06,0.0
948304,7998,1988,10,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 10,0.0
976924,7998,1988,11,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 11,0.0
1062415,7998,1988,2,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 02,0.0
1120117,7998,1988,4,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 04,0.0
1377240,7998,1988,1,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 01,0.0
1693349,7998,1988,12,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 12,0.0
1895413,7998,1988,7,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 07,0.0
2123728,7998,1988,3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1988 03,0.0

In [197]:
df['EventType'].value_counts()

EventType
0.0    2731834
1.0      21646
2.0        114
Name: count, dtype: int64

In [198]:
df.isna().sum().sort_values(ascending=False)

dtdlevel           415827
dtdtrend           415827
liqnonfinlevel     313582
liqnonfintrend     313582
m2b                304381
ni2talevel         295878
ni2tatrend         295878
sigma              289846
sizetrend          160735
sizelevel          160735
DTDmedianNonFin    126689
liqfinlevel         64824
lqfintrend          64824
StkIndx             47043
DTDmedianFin        29919
STInt               17318
dummy297fin             0
EventDate               0
CompanyNumber           0
yyyy                    0
mm                      0
EventType               0
dtype: int64