In [229]:
import pandas as pd

df_X = pd.read_csv('X_NorthAmerica.csv')
df_X

,CompNo,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,ni2tatrend,sizelevel,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin
0,15984000.0,1999.0,3,0.167570,0.006248,NaN,NaN,NaN,NaN,NaN,NaN,1.027931,0.000000,NaN,NaN,0.0,0.0,0.000000,2.324205,0
1,15984000.0,1999.0,4,0.200972,0.006487,NaN,NaN,NaN,NaN,NaN,NaN,1.351854,0.323923,NaN,NaN,0.0,0.0,0.000000,2.373554,0
2,15984000.0,1999.0,5,0.186079,0.006896,NaN,NaN,NaN,NaN,NaN,NaN,1.358506,0.013304,NaN,0.274280,0.0,0.0,0.000000,2.401488,0
3,15984000.0,1999.0,6,0.210673,0.007457,NaN,NaN,0.447325,0.0,0.00932,0.0,1.362518,0.012036,5.082778,0.276896,0.0,0.0,0.000000,2.455890,0
4,15984000.0,1999.0,7,0.162536,0.007322,4.190356,0.0,0.447325,0.0,0.00932,0.0,1.336588,-0.103719,4.504762,0.259755,0.0,0.0,0.000000,2.455596,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753072,212037000.0,2023.0,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,NaN,-2.751389,0.000000,NaN,NaN,0.0,0.0,0.000000,2.087496,0
2753073,212083000.0,2023.0,6,0.038825,-0.010290,NaN,NaN,0.000000,0.0,NaN,NaN,0.048190,0.000000,NaN,NaN,NaN,NaN,3.405230,0.000000,1
2753074,212083000.0,2023.0,7,0.015960,-0.010290,NaN,NaN,0.000000,0.0,NaN,NaN,-0.675007,-0.723197,NaN,NaN,NaN,NaN,3.453191,0.000000,1
2753075,212122000.0,2023.0,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,NaN,-2.258285,0.000000,NaN,NaN,0.0,0.0,0.000000,2.087496,0
2753076,212139000.0,2023.0,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,2.087496,0

In [230]:
## preprocess the X dataset

df_X['yyyy'] = df_X['yyyy'].astype(int)
df_X['mm'] = df_X['mm'].astype(str)

for index, row in df_X.iterrows():
    if len(row['mm']) == 1:  
        df_X.at[index, 'EventDate'] = str(row['yyyy']) + '0' + row['mm']
    else:
        df_X.at[index, 'EventDate'] = str(row['yyyy']) + row['mm']

    df_X.at[index, 'CompNo'] = row['CompNo']/1000
df_X['CompNo'] = df_X['CompNo'].astype(int)

# Convert the "EventDate" column to datetime format
df_X['EventDate'] = pd.to_datetime(df_X['EventDate'], format='%Y%m')

# # Format the "EventDate" column to show year and month (yyyy mm)
df_X['EventDate_string'] = df_X['EventDate'].dt.strftime('%Y %m')

# Rename the "CompNo" column to "CompanyNumber"
df_X = df_X.rename(columns={'CompNo': 'CompanyNumber'})
df_X.head()

C:\Users\shiho\AppData\Local\Temp\ipykernel_54368\2975454212.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '199903' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_X.at[index, 'EventDate'] = str(row['yyyy']) + '0' + row['mm']

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sizetrend,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventDate_string
0,15984,1999,3,0.167570,0.006248,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,0.0,0.0,0.0,2.324205,0,1999-03-01,1999 03
1,15984,1999,4,0.200972,0.006487,NaN,NaN,NaN,NaN,NaN,...,0.323923,NaN,NaN,0.0,0.0,0.0,2.373554,0,1999-04-01,1999 04
2,15984,1999,5,0.186079,0.006896,NaN,NaN,NaN,NaN,NaN,...,0.013304,NaN,0.274280,0.0,0.0,0.0,2.401488,0,1999-05-01,1999 05
3,15984,1999,6,0.210673,0.007457,NaN,NaN,0.447325,0.0,0.00932,...,0.012036,5.082778,0.276896,0.0,0.0,0.0,2.455890,0,1999-06-01,1999 06
4,15984,1999,7,0.162536,0.007322,4.190356,0.0,0.447325,0.0,0.00932,...,-0.103719,4.504762,0.259755,0.0,0.0,0.0,2.455596,0,1999-07-01,1999 07

In [241]:
import pandas as pd
df_Y = pd.read_csv('Y_NorthAmerica.csv')

df_Y['EventDate'] = pd.to_datetime(df_Y['EventDate'], format='%Y%m%d')
df_Y['Time_Begin'] = pd.to_datetime(df_Y['Time_Begin'], format='%Y%m%d')

# # Format the "EventDate" column to show year and month (yyyy mm)
df_Y['EventDate_string'] = df_Y['EventDate'].dt.strftime('%Y %m')
# # Format the "EventDate" column to show year and month (yyyy mm)
# df_Y['EventDate'] = df_Y['EventDate'].dt.strftime('%Y %m')

# # Format the "EventDate" column to show year and month (yyyy mm)
# df_Y['Time_Begin'] = df_Y['Time_Begin'].dt.strftime('%Y %m')

df_Y = df_Y.rename(columns={'CompNo': 'CompanyNumber', 'Event_type': 'EventType','Time_Begin': 'StartDate'})
df_Y = df_Y.drop(['Sector_Number', 'Exchange'], axis=1)

df_Y.head()
# df_Y.dtypes

   CompanyNumber  EventDate  EventType  StartDate EventDate_string
0       15984000 2008-10-17          1 1999-03-15          2008 10
1       18729000 2023-07-31          0 2021-01-28          2023 07
2       22043000 2023-07-31          0 2015-08-26          2023 07
3       22043001 2013-04-30          2 2004-09-27          2013 04
4       26978000 2023-07-31          0 2009-05-05          2023 07

In [189]:
df_Y['StartDate'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
27383    False
27384    False
27385    False
27386    False
27387    False
Name: StartDate, Length: 27388, dtype: bool

In [242]:

for index, row in df_Y.iterrows():
    df_Y.at[index, 'CompanyNumber'] = row['CompanyNumber']/1000
df_Y['CompanyNumber'] = df_Y['CompanyNumber'].astype(int)

key_column = df_Y['CompanyNumber']
value_column = df_Y['StartDate']

# Create a dictionary from the two columns
comp_start_date = dict(zip(key_column, value_column))

C:\Users\shiho\AppData\Local\Temp\ipykernel_54368\759584361.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '22043.001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Y.at[index, 'CompanyNumber'] = row['CompanyNumber']/1000

In [243]:
df_Y

       CompanyNumber  EventDate  EventType  StartDate EventDate_string
0              15984 2008-10-17          1 1999-03-15          2008 10
1              18729 2023-07-31          0 2021-01-28          2023 07
2              22043 2023-07-31          0 2015-08-26          2023 07
3              22043 2013-04-30          2 2004-09-27          2013 04
4              26978 2023-07-31          0 2009-05-05          2023 07
...              ...        ...        ...        ...              ...
27383         211986 2023-07-31          0 2023-06-14          2023 07
27384         212037 2023-07-31          0 2023-07-05          2023 07
27385         212083 2023-07-31          0 2023-06-30          2023 07
27386         212122 2023-07-31          0 2023-07-06          2023 07
27387         212139 2023-07-31          0 2023-07-10          2023 07

[27388 rows x 5 columns]

In [244]:
comp_start_date

{15984: Timestamp('1999-03-15 00:00:00'),
 18729: Timestamp('2021-01-28 00:00:00'),
 22043: Timestamp('2004-09-27 00:00:00'),
 26978: Timestamp('1988-01-04 00:00:00'),
 26979: Timestamp('1988-01-04 00:00:00'),
 26980: Timestamp('1988-01-04 00:00:00'),
 26981: Timestamp('1988-01-04 00:00:00'),
 26982: Timestamp('1991-08-21 00:00:00'),
 26983: Timestamp('1988-01-04 00:00:00'),
 26984: Timestamp('2006-01-24 00:00:00'),
 26985: Timestamp('1988-01-04 00:00:00'),
 26986: Timestamp('1988-01-04 00:00:00'),
 26989: Timestamp('2005-09-01 00:00:00'),
 26990: Timestamp('1988-01-04 00:00:00'),
 26991: Timestamp('1994-10-21 00:00:00'),
 26992: Timestamp('1988-01-04 00:00:00'),
 26994: Timestamp('1988-01-04 00:00:00'),
 26995: Timestamp('1988-01-04 00:00:00'),
 26996: Timestamp('1988-01-04 00:00:00'),
 26998: Timestamp('1988-01-04 00:00:00'),
 26999: Timestamp('2006-10-12 00:00:00'),
 27000: Timestamp('1988-01-04 00:00:00'),
 27001: Timestamp('1988-01-04 00:00:00'),
 27002: Timestamp('1988-01-04 00:00:00'),
 27003: Timestamp('1988-01-04 00:00:00'),
 27004: Timestamp('1988-01-04 00:00:00'),
 27005: Timestamp('1988-01-04 00:00:00'),
 27006: Timestamp('1988-01-04 00:00:00'),
 27007: Timestamp('1988-01-04 00:00:00'),
 27008: Timestamp('1988-01-04 00:00:00'),
 27009: Timestamp('2006-01-31 00:00:00'),
 27010: Timestamp('2006-04-04 00:00:00'),
 27011: Timestamp('1989-06-21 00:00:00'),
 27012: Timestamp('1990-10-03 00:00:00'),
 27013: Timestamp('1988-01-04 00:00:00'),
 27014: Timestamp('2011-03-23 00:00:00'),
 27016: Timestamp('1988-01-04 00:00:00'),
 27017: Timestamp('1988-01-04 00:00:00'),
 27019: Timestamp('1988-01-04 00:00:00'),
 27020: Timestamp('1988-02-01 00:00:00'),
 27021: Timestamp('1988-01-04 00:00:00'),
 27022: Timestamp('1991-07-11 00:00:00'),
 27024: Timestamp('1988-01-04 00:00:00'),
 27025: Timestamp('1988-01-04 00:00:00'),
 27026: Timestamp('2006-02-02 00:00:00'),
 27027: Timestamp('1988-01-04 00:00:00'),
 27028: Timestamp('1988-01-04 00:00:00'),
 27029: Timestamp('1988-01-04 00:00:00'),
 27030: Timestamp('1988-01-04 00:00:00'),
 27031: Timestamp('1988-01-04 00:00:00'),
 27032: Timestamp('1988-01-04 00:00:00'),
 27033: Timestamp('1988-01-04 00:00:00'),
 27034: Timestamp('1988-01-04 00:00:00'),
 27035: Timestamp('1988-01-04 00:00:00'),
 27036: Timestamp('1988-01-04 00:00:00'),
 27037: Timestamp('1988-01-04 00:00:00'),
 27038: Timestamp('1988-01-04 00:00:00'),
 27039: Timestamp('1988-01-04 00:00:00'),
 27040: Timestamp('1997-01-20 00:00:00'),
 27041: Timestamp('1990-10-04 00:00:00'),
 27042: Timestamp('1988-01-04 00:00:00'),
 27044: Timestamp('1988-01-04 00:00:00'),
 27046: Timestamp('1988-01-04 00:00:00'),
 27047: Timestamp('1988-01-04 00:00:00'),
 27048: Timestamp('1993-01-04 00:00:00'),
 27049: Timestamp('1988-01-04 00:00:00'),
 27050: Timestamp('1988-01-04 00:00:00'),
 27051: Timestamp('1988-01-04 00:00:00'),
 27052: Timestamp('1991-11-08 00:00:00'),
 27053: Timestamp('1988-01-04 00:00:00'),
 27054: Timestamp('1988-01-04 00:00:00'),
 27055: Timestamp('1988-01-04 00:00:00'),
 27056: Timestamp('1988-01-04 00:00:00'),
 27057: Timestamp('1988-01-04 00:00:00'),
 27058: Timestamp('1988-01-04 00:00:00'),
 27059: Timestamp('1988-01-04 00:00:00'),
 27060: Timestamp('1988-01-04 00:00:00'),
 27061: Timestamp('1991-05-17 00:00:00'),
 27062: Timestamp('1988-01-04 00:00:00'),
 27063: Timestamp('1988-01-04 00:00:00'),
 27064: Timestamp('1988-01-04 00:00:00'),
 27065: Timestamp('1988-01-04 00:00:00'),
 27066: Timestamp('1995-01-31 00:00:00'),
 27067: Timestamp('1988-01-04 00:00:00'),
 27068: Timestamp('1988-01-04 00:00:00'),
 27069: Timestamp('1988-01-04 00:00:00'),
 27070: Timestamp('1988-01-04 00:00:00'),
 27071: Timestamp('1988-01-04 00:00:00'),
 27072: Timestamp('1988-01-04 00:00:00'),
 27073: Timestamp('1988-01-04 00:00:00'),
 27074: Timestamp('1988-01-04 00:00:00'),
 27075: Timestamp('1988-01-04 00:00:00'),
 27076: Timestamp('1988-01-04 00:00:00'),
 27077: Timestamp('1988-01-04 00:00:00'),
 27078: Timestamp('1988-01-04 00:00:00'),
 27079: Timestamp('1988-01-04 00:00:00'),
 27080: Timestamp('1988-01-04 00:00:00'),
 27081: Timestamp('1988-01-04 00:00:00'),
 27082: Timestamp('1988-01-04 00:00:00'),
 27083: Timestamp('1988-01-04 00:00:00'),
 27084: Timestamp('2007-04-02 00:00:00'),
 27085: Timestamp('1988-01-04 00:00:00'),
 27086: Timestamp('1992-06-26 00:00:00'),
 27087: Timestamp('1988-01-04 00:00:00'),
 27088: Timestamp('1991-04-01 00:00:00'),
 27089: Timestamp('1988-01-04 00:00:00'),
 27090: Timestamp('1988-01-04 00:00:00'),
 27091: Timestamp('1988-01-04 00:00:00'),
 27092: Timestamp('1988-01-04 00:00:00'),
 27093: Timestamp('1988-01-04 00:00:00'),
 27094: Timestamp('1988-01-04 00:00:00'),
 27095: Timestamp('1988-01-04 00:00:00'),
 27096: Timestamp('1988-01-04 00:00:00'),
 27097: Timestamp('1988-01-04 00:00:00'),
 27098: Timestamp('1988-01-04 00:00:00'),
 27099: Timestamp('1988-01-04 00:00:00'),
 27101: Timestamp('1988-01-04 00:00:00'),
 27102: Timestamp('1988-01-04 00:00:00'),
 27103: Timestamp('1988-01-04 00:00:00'),
 27105: Timestamp('1988-01-04 00:00:00'),
 27106: Timestamp('1988-01-04 00:00:00'),
 27107: Timestamp('1988-01-04 00:00:00'),
 27108: Timestamp('1988-02-01 00:00:00'),
 27109: Timestamp('1988-01-04 00:00:00'),
 27110: Timestamp('1988-01-04 00:00:00'),
 27111: Timestamp('1988-01-04 00:00:00'),
 27112: Timestamp('1988-01-04 00:00:00'),
 27113: Timestamp('1988-01-04 00:00:00'),
 27114: Timestamp('1988-01-04 00:00:00'),
 27115: Timestamp('1988-01-04 00:00:00'),
 27116: Timestamp('1988-01-04 00:00:00'),
 27117: Timestamp('1988-01-04 00:00:00'),
 27118: Timestamp('1988-02-01 00:00:00'),
 27119: Timestamp('1988-01-04 00:00:00'),
 27120: Timestamp('1988-01-04 00:00:00'),
 27121: Timestamp('1988-01-04 00:00:00'),
 27122: Timestamp('1988-01-04 00:00:00'),
 27123: Timestamp('1988-01-04 00:00:00'),
 27124: Timestamp('1988-01-04 00:00:00'),
 27125: Timestamp('2006-01-30 00:00:00'),
 27127: Timestamp('1988-01-04 00:00:00'),
 27128: Timestamp('1988-01-04 00:00:00'),
 27129: Timestamp('1991-06-28 00:00:00'),
 27130: Timestamp('1989-12-01 00:00:00'),
 27134: Timestamp('2007-06-06 00:00:00'),
 27135: Timestamp('1988-01-04 00:00:00'),
 27136: Timestamp('1988-01-04 00:00:00'),
 27137: Timestamp('1991-10-30 00:00:00'),
 27138: Timestamp('1988-01-04 00:00:00'),
 27140: Timestamp('2007-09-27 00:00:00'),
 27144: Timestamp('1988-01-04 00:00:00'),
 27145: Timestamp('1990-07-20 00:00:00'),
 27147: Timestamp('1988-01-04 00:00:00'),
 27148: Timestamp('1988-01-04 00:00:00'),
 27149: Timestamp('1988-01-04 00:00:00'),
 27150: Timestamp('1988-01-04 00:00:00'),
 27151: Timestamp('2005-12-01 00:00:00'),
 27152: Timestamp('2007-04-18 00:00:00'),
 27153: Timestamp('1988-01-04 00:00:00'),
 27154: Timestamp('1988-01-04 00:00:00'),
 27157: Timestamp('1988-01-04 00:00:00'),
 27158: Timestamp('1992-05-19 00:00:00'),
 27159: Timestamp('1988-01-04 00:00:00'),
 27160: Timestamp('1989-05-23 00:00:00'),
 27161: Timestamp('1999-02-03 00:00:00'),
 27162: Timestamp('1988-01-04 00:00:00'),
 27163: Timestamp('1988-01-04 00:00:00'),
 27164: Timestamp('1988-01-04 00:00:00'),
 27165: Timestamp('1988-01-04 00:00:00'),
 27166: Timestamp('1988-01-04 00:00:00'),
 27167: Timestamp('1988-01-04 00:00:00'),
 27168: Timestamp('1988-01-04 00:00:00'),
 27169: Timestamp('1988-02-03 00:00:00'),
 27170: Timestamp('1988-01-04 00:00:00'),
 27171: Timestamp('1988-01-04 00:00:00'),
 27172: Timestamp('1988-01-04 00:00:00'),
 27173: Timestamp('1988-01-04 00:00:00'),
 27174: Timestamp('1988-01-04 00:00:00'),
 27175: Timestamp('1988-01-04 00:00:00'),
 27176: Timestamp('1988-01-04 00:00:00'),
 27177: Timestamp('1988-01-04 00:00:00'),
 27178: Timestamp('1988-07-08 00:00:00'),
 27179: Timestamp('1992-03-19 00:00:00'),
 27181: Timestamp('1988-01-05 00:00:00'),
 27182: Timestamp('1989-05-31 00:00:00'),
 27183: Timestamp('1988-01-04 00:00:00'),
 27184: Timestamp('1990-02-08 00:00:00'),
 27185: Timestamp('1988-01-04 00:00:00'),
 27186: Timestamp('1991-04-24 00:00:00'),
 27187: Timestamp('1988-01-04 00:00:00'),
 27188: Timestamp('2005-12-20 00:00:00'),
 27189: Timestamp('1988-01-04 00:00:00'),
 27190: Timestamp('1992-02-28 00:00:00'),
 27191: Timestamp('1988-01-04 00:00:00'),
 27192: Timestamp('2006-03-07 00:00:00'),
 27193: Timestamp('1988-02-01 00:00:00'),
 27194: Timestamp('1988-01-04 00:00:00'),
 27195: Timestamp('1992-04-09 00:00:00'),
 27196: Timestamp('1988-01-04 00:00:00'),
 27197: Timestamp('2005-10-12 00:00:00'),
 27198: Timestamp('1988-01-04 00:00:00'),
 27200: Timestamp('1988-01-04 00:00:00'),
 27201: Timestamp('1988-01-04 00:00:00'),
 27204: Timestamp('1988-01-04 00:00:00'),
 27205: Timestamp('1988-01-04 00:00:00'),
 27206: Timestamp('1988-01-04 00:00:00'),
 27207: Timestamp('1992-03-27 00:00:00'),
 27208: Timestamp('1990-11-23 00:00:00'),
 27209: Timestamp('1988-01-04 00:00:00'),
 27210: Timestamp('1988-01-04 00:00:00'),
 27211: Timestamp('1988-01-04 00:00:00'),
 27212: Timestamp('1988-01-04 00:00:00'),
 27215: Timestamp('1988-01-04 00:00:00'),
 27218: Timestamp('2010-05-20 00:00:00'),
 27220: Timestamp('2008-08-12 00:00:00'),
 27222: Timestamp('1988-01-04 00:00:00'),
 27224: Timestamp('1988-01-04 00:00:00'),
 27225: Timestamp('1988-01-04 00:00:00'),
 27226: Timestamp('1989-09-21 00:00:00'),
 27227: Timestamp('1988-01-04 00:00:00'),
 27228: Timestamp('1988-02-01 00:00:00'),
 27229: Timestamp('1988-01-04 00:00:00'),
 27230: Timestamp('1988-01-04 00:00:00'),
 27231: Timestamp('1988-01-04 00:00:00'),
 27232: Timestamp('1989-08-29 00:00:00'),
 27233: Timestamp('1988-01-04 00:00:00'),
 27234: Timestamp('1988-01-04 00:00:00'),
 27235: Timestamp('1988-01-04 00:00:00'),
 27236: Timestamp('1988-01-04 00:00:00'),
 27237: Timestamp('2007-01-11 00:00:00'),
 27238: Timestamp('1988-01-04 00:00:00'),
 27239: Timestamp('1988-01-04 00:00:00'),
 27240: Timestamp('1988-01-04 00:00:00'),
 27241: Timestamp('1988-01-04 00:00:00'),
 27242: Timestamp('1988-01-04 00:00:00'),
 27243: Timestamp('1988-01-04 00:00:00'),
 27244: Timestamp('1988-01-04 00:00:00'),
 27245: Timestamp('1988-01-04 00:00:00'),
 27246: Timestamp('1988-01-04 00:00:00'),
 27247: Timestamp('1988-01-04 00:00:00'),
 27248: Timestamp('1988-01-04 00:00:00'),
 27249: Timestamp('1988-01-04 00:00:00'),
 27250: Timestamp('1988-01-04 00:00:00'),
 27251: Timestamp('1988-01-04 00:00:00'),
 27252: Timestamp('1988-01-04 00:00:00'),
 27254: Timestamp('1988-01-04 00:00:00'),
 27255: Timestamp('1988-01-04 00:00:00'),
 27257: Timestamp('1988-02-01 00:00:00'),
 27258: Timestamp('1988-01-04 00:00:00'),
 27259: Timestamp('1988-01-04 00:00:00'),
 27260: Timestamp('1988-01-04 00:00:00'),
 27261: Timestamp('1988-01-04 00:00:00'),
 27262: Timestamp('1988-02-01 00:00:00'),
 27263: Timestamp('1988-01-04 00:00:00'),
 27264: Timestamp('1988-01-04 00:00:00'),
 27265: Timestamp('1988-01-04 00:00:00'),
 27266: Timestamp('1988-01-04 00:00:00'),
 27267: Timestamp('1988-01-04 00:00:00'),
 27268: Timestamp('1988-01-04 00:00:00'),
 27269: Timestamp('1988-01-04 00:00:00'),
 27270: Timestamp('1988-01-04 00:00:00'),
 27271: Timestamp('1988-01-04 00:00:00'),
 27272: Timestamp('1988-01-04 00:00:00'),
 27273: Timestamp('1988-02-01 00:00:00'),
 27274: Timestamp('1988-01-04 00:00:00'),
 27275: Timestamp('1992-03-25 00:00:00'),
 27276: Timestamp('1988-01-04 00:00:00'),
 27277: Timestamp('1988-01-04 00:00:00'),
 27278: Timestamp('1988-01-04 00:00:00'),
 27279: Timestamp('1988-01-04 00:00:00'),
 27280: Timestamp('1988-01-04 00:00:00'),
 27282: Timestamp('1988-01-04 00:00:00'),
 27283: Timestamp('1988-01-04 00:00:00'),
 27284: Timestamp('1988-01-04 00:00:00'),
 27285: Timestamp('1988-01-04 00:00:00'),
 27286: Timestamp('1988-01-04 00:00:00'),
 27287: Timestamp('1988-01-04 00:00:00'),
 27288: Timestamp('1988-01-04 00:00:00'),
 27289: Timestamp('1988-01-04 00:00:00'),
 27290: Timestamp('1988-01-04 00:00:00'),
 27291: Timestamp('1988-01-04 00:00:00'),
 27292: Timestamp('1992-06-18 00:00:00'),
 27293: Timestamp('1988-01-04 00:00:00'),
 27294: Timestamp('1988-01-04 00:00:00'),
 27295: Timestamp('1988-01-04 00:00:00'),
 27296: Timestamp('1988-01-04 00:00:00'),
 27297: Timestamp('1988-01-04 00:00:00'),
 27298: Timestamp('1988-01-04 00:00:00'),
 27299: Timestamp('1988-01-04 00:00:00'),
 27300: Timestamp('1988-01-04 00:00:00'),
 27301: Timestamp('1988-01-04 00:00:00'),
 27302: Timestamp('1988-01-04 00:00:00'),
 27303: Timestamp('1988-01-04 00:00:00'),
 27304: Timestamp('1988-01-04 00:00:00'),
 27305: Timestamp('1988-01-04 00:00:00'),
 27306: Timestamp('1988-01-04 00:00:00'),
 27307: Timestamp('1988-01-04 00:00:00'),
 27308: Timestamp('1988-01-04 00:00:00'),
 27309: Timestamp('1988-01-04 00:00:00'),
 27310: Timestamp('1988-01-04 00:00:00'),
 27311: Timestamp('1990-08-02 00:00:00'),
 27313: Timestamp('1988-01-04 00:00:00'),
 27314: Timestamp('1992-02-28 00:00:00'),
 27315: Timestamp('1988-01-04 00:00:00'),
 27316: Timestamp('1988-01-04 00:00:00'),
 27317: Timestamp('1988-01-04 00:00:00'),
 27318: Timestamp('1988-01-04 00:00:00'),
 27319: Timestamp('1988-01-04 00:00:00'),
 27320: Timestamp('1988-01-04 00:00:00'),
 27321: Timestamp('1988-01-04 00:00:00'),
 27322: Timestamp('1988-01-04 00:00:00'),
 27323: Timestamp('1988-01-04 00:00:00'),
 27324: Timestamp('1988-01-04 00:00:00'),
 27325: Timestamp('1992-04-22 00:00:00'),
 27326: Timestamp('1988-01-04 00:00:00'),
 27327: Timestamp('1988-01-04 00:00:00'),
 27328: Timestamp('1988-01-04 00:00:00'),
 27329: Timestamp('1988-01-04 00:00:00'),
 27330: Timestamp('1988-01-04 00:00:00'),
 27331: Timestamp('1988-01-04 00:00:00'),
 27332: Timestamp('1988-01-04 00:00:00'),
 27333: Timestamp('1988-01-04 00:00:00'),
 27334: Timestamp('1988-01-04 00:00:00'),
 27335: Timestamp('1988-01-04 00:00:00'),
 27336: Timestamp('1988-01-04 00:00:00'),
 27337: Timestamp('1988-01-04 00:00:00'),
 27338: Timestamp('1988-01-04 00:00:00'),
 27339: Timestamp('1988-01-04 00:00:00'),
 27340: Timestamp('1988-01-04 00:00:00'),
 27341: Timestamp('1988-01-04 00:00:00'),
 27342: Timestamp('1988-01-04 00:00:00'),
 27343: Timestamp('1988-01-04 00:00:00'),
 27344: Timestamp('1998-11-05 00:00:00'),
 27345: Timestamp('1988-01-04 00:00:00'),
 27346: Timestamp('1988-01-04 00:00:00'),
 27347: Timestamp('1988-01-04 00:00:00'),
 27348: Timestamp('1988-01-04 00:00:00'),
 27349: Timestamp('1988-01-04 00:00:00'),
 27350: Timestamp('1988-01-04 00:00:00'),
 27351: Timestamp('1988-01-04 00:00:00'),
 27352: Timestamp('1988-01-04 00:00:00'),
 27353: Timestamp('1988-01-04 00:00:00'),
 27354: Timestamp('1988-01-04 00:00:00'),
 27355: Timestamp('1988-01-04 00:00:00'),
 27356: Timestamp('1988-01-04 00:00:00'),
 27357: Timestamp('1988-01-04 00:00:00'),
 27358: Timestamp('1988-01-04 00:00:00'),
 27359: Timestamp('1988-01-04 00:00:00'),
 27360: Timestamp('1988-01-04 00:00:00'),
 27361: Timestamp('1988-01-04 00:00:00'),
 27362: Timestamp('1988-01-04 00:00:00'),
 27363: Timestamp('1988-01-04 00:00:00'),
 27364: Timestamp('1988-01-04 00:00:00'),
 27365: Timestamp('1992-03-13 00:00:00'),
 27366: Timestamp('1988-01-04 00:00:00'),
 27367: Timestamp('1988-01-04 00:00:00'),
 27368: Timestamp('1989-06-06 00:00:00'),
 27369: Timestamp('1989-12-01 00:00:00'),
 27370: Timestamp('1988-01-04 00:00:00'),
 27371: Timestamp('2005-12-14 00:00:00'),
 27372: Timestamp('2005-10-14 00:00:00'),
 27373: Timestamp('1992-05-12 00:00:00'),
 27374: Timestamp('1988-01-04 00:00:00'),
 27375: Timestamp('1988-01-04 00:00:00'),
 27376: Timestamp('1988-01-04 00:00:00'),
 27377: Timestamp('1988-01-04 00:00:00'),
 27378: Timestamp('1988-01-04 00:00:00'),
 27379: Timestamp('1988-01-04 00:00:00'),
 27380: Timestamp('1988-01-04 00:00:00'),
 27381: Timestamp('1988-01-04 00:00:00'),
 27382: Timestamp('1988-01-04 00:00:00'),
 27383: Timestamp('2005-09-26 00:00:00'),
 27384: Timestamp('1988-01-04 00:00:00'),
 27385: Timestamp('1988-01-04 00:00:00'),
 27386: Timestamp('1988-01-04 00:00:00'),
 27387: Timestamp('1988-01-04 00:00:00'),
 27388: Timestamp('1992-03-13 00:00:00'),
 27389: Timestamp('1988-01-04 00:00:00'),
 27390: Timestamp('1988-01-04 00:00:00'),
 27391: Timestamp('1988-01-04 00:00:00'),
 27392: Timestamp('1988-01-04 00:00:00'),
 27393: Timestamp('1988-01-04 00:00:00'),
 27394: Timestamp('1988-01-04 00:00:00'),
 27395: Timestamp('1988-01-04 00:00:00'),
 27396: Timestamp('1988-01-04 00:00:00'),
 27397: Timestamp('1988-01-04 00:00:00'),
 27398: Timestamp('1992-02-13 00:00:00'),
 27399: Timestamp('1988-01-04 00:00:00'),
 27400: Timestamp('1991-07-19 00:00:00'),
 27401: Timestamp('1988-01-04 00:00:00'),
 27402: Timestamp('1992-07-30 00:00:00'),
 27403: Timestamp('1989-10-04 00:00:00'),
 27404: Timestamp('1988-01-04 00:00:00'),
 27405: Timestamp('1988-01-04 00:00:00'),
 27406: Timestamp('1988-02-01 00:00:00'),
 27407: Timestamp('1988-01-04 00:00:00'),
 27408: Timestamp('1988-01-04 00:00:00'),
 27409: Timestamp('1988-01-04 00:00:00'),
 27411: Timestamp('2006-05-03 00:00:00'),
 27412: Timestamp('1990-10-01 00:00:00'),
 27413: Timestamp('1988-01-04 00:00:00'),
 27414: Timestamp('1988-01-04 00:00:00'),
 27415: Timestamp('1991-07-19 00:00:00'),
 27416: Timestamp('1988-01-04 00:00:00'),
 27417: Timestamp('1995-08-17 00:00:00'),
 27418: Timestamp('1988-01-04 00:00:00'),
 27419: Timestamp('1988-01-04 00:00:00'),
 27420: Timestamp('1988-01-04 00:00:00'),
 27421: Timestamp('1988-01-04 00:00:00'),
 27422: Timestamp('1988-01-04 00:00:00'),
 27423: Timestamp('1988-12-02 00:00:00'),
 27424: Timestamp('1988-01-04 00:00:00'),
 27425: Timestamp('1988-01-04 00:00:00'),
 27426: Timestamp('1988-01-04 00:00:00'),
 27427: Timestamp('1988-01-04 00:00:00'),
 27428: Timestamp('1988-01-04 00:00:00'),
 27429: Timestamp('1992-02-05 00:00:00'),
 27430: Timestamp('1988-01-04 00:00:00'),
 27431: Timestamp('1988-01-04 00:00:00'),
 27432: Timestamp('1988-01-04 00:00:00'),
 27433: Timestamp('1988-01-04 00:00:00'),
 27434: Timestamp('1990-04-25 00:00:00'),
 27435: Timestamp('1988-01-04 00:00:00'),
 27436: Timestamp('1989-12-01 00:00:00'),
 27437: Timestamp('1992-06-10 00:00:00'),
 27438: Timestamp('2006-02-01 00:00:00'),
 27439: Timestamp('1992-04-09 00:00:00'),
 27440: Timestamp('1988-01-04 00:00:00'),
 27441: Timestamp('1988-01-05 00:00:00'),
 27442: Timestamp('1988-01-04 00:00:00'),
 27443: Timestamp('1988-01-04 00:00:00'),
 27444: Timestamp('1988-01-04 00:00:00'),
 27445: Timestamp('1988-01-04 00:00:00'),
 27446: Timestamp('1988-01-04 00:00:00'),
 27448: Timestamp('1991-12-18 00:00:00'),
 27451: Timestamp('2006-11-01 00:00:00'),
 27452: Timestamp('1988-01-04 00:00:00'),
 27453: Timestamp('1988-01-04 00:00:00'),
 27454: Timestamp('1988-01-04 00:00:00'),
 27458: Timestamp('1988-01-04 00:00:00'),
 27459: Timestamp('1988-01-04 00:00:00'),
 27460: Timestamp('1988-01-04 00:00:00'),
 27461: Timestamp('1988-01-04 00:00:00'),
 27462: Timestamp('1988-01-04 00:00:00'),
 27463: Timestamp('1992-03-05 00:00:00'),
 27464: Timestamp('1988-01-04 00:00:00'),
 27465: Timestamp('1988-01-04 00:00:00'),
 27466: Timestamp('1988-01-04 00:00:00'),
 27469: Timestamp('1988-01-04 00:00:00'),
 27470: Timestamp('1992-06-03 00:00:00'),
 27471: Timestamp('1988-01-04 00:00:00'),
 27473: Timestamp('1988-01-04 00:00:00'),
 27474: Timestamp('1995-07-10 00:00:00'),
 27476: Timestamp('1988-01-04 00:00:00'),
 27477: Timestamp('1995-01-31 00:00:00'),
 27478: Timestamp('1988-01-04 00:00:00'),
 27479: Timestamp('1988-01-04 00:00:00'),
 27480: Timestamp('1991-03-28 00:00:00'),
 27482: Timestamp('1988-01-04 00:00:00'),
 27483: Timestamp('1988-01-04 00:00:00'),
 27484: Timestamp('1988-01-04 00:00:00'),
 27485: Timestamp('1988-01-04 00:00:00'),
 27486: Timestamp('1988-01-04 00:00:00'),
 27487: Timestamp('1988-01-04 00:00:00'),
 27489: Timestamp('1988-01-04 00:00:00'),
 27490: Timestamp('1988-01-04 00:00:00'),
 27491: Timestamp('1988-01-04 00:00:00'),
 27492: Timestamp('1992-06-10 00:00:00'),
 27493: Timestamp('1988-01-04 00:00:00'),
 27494: Timestamp('1988-01-04 00:00:00'),
 27496: Timestamp('1988-01-04 00:00:00'),
 27497: Timestamp('1988-01-04 00:00:00'),
 27498: Timestamp('1988-01-04 00:00:00'),
 27499: Timestamp('1988-01-04 00:00:00'),
 27500: Timestamp('1988-01-04 00:00:00'),
 27501: Timestamp('1988-01-04 00:00:00'),

In [266]:
import pandas as pd
from datetime import datetime, timedelta

df_Y_new = pd.DataFrame()

# # Format the "EventDate" column to show year and month (yyyy mm)
# df_Y['EventDate'] = df_Y['EventDate'].dt.strftime('%Y %m')

# Sort the DataFrame by CompanyNumber and EventDate
df_Y.sort_values(by=['CompanyNumber', 'EventDate'], inplace=True)

# Function to check if event type 1 occurred n months ago for the same comp number
df_Y_new  # Declare df_Y_new as a global variable

for index, row in df_Y.iterrows():  
    comp_number = row['CompanyNumber']
    event_date = row['EventDate']

    if row['EventType'] == 1:
        for i in range(1, 13):  # Check for the past 12 months
            # Convert event_date to datetime format
            event_date = pd.to_datetime(event_date, format='%Y %m')
                # Calculate the date i months ago from the current event date
            i_months_ago = event_date - pd.DateOffset(months=i)

            # Check if the combination of CompanyNumber and i_months_ago is not in the original df_Y
            if not ((df_Y['CompanyNumber'] == comp_number) & (df_Y['EventDate_string'] == i_months_ago.strftime('%Y %m'))).any():
                # If not present, add a new row to df_Y_new
                new_row = {'EventDate_string': i_months_ago.strftime('%Y %m'), 'CompanyNumber': comp_number, 'EventType': 1, 'StartDate':row['StartDate']}
                new_df = pd.DataFrame([new_row])
                df_Y_new = pd.concat([df_Y_new, new_df], ignore_index=True)







# new_df

In [274]:
new_df = pd.concat([df_Y, df_Y_new], ignore_index=True)
new_df = new_df.drop_duplicates(subset=['EventDate_string', 'CompanyNumber','EventType'], keep='last')
new_df = new_df.drop(['EventDate','StartDate'], axis=1)

In [275]:
new_df

       CompanyNumber  EventType EventDate_string
0               7998          2          2011 07
1               7998          2          2019 04
2               7998          0          2023 07
3              14547          2          2009 06
4              14547          2          2016 11
...              ...        ...              ...
49745         209445          1          2022 06
49746         209445          1          2022 05
49747         209445          1          2022 04
49748         209445          1          2022 03
49749         209445          1          2022 02

[49341 rows x 3 columns]

In [248]:
import numpy as np

df_X['Duration'] = np.nan

for index, row in df_X.iterrows():
    try:
        startDate = comp_start_date[row['CompanyNumber']]
        df_X.at[index, 'StartDate'] = startDate
        df_X.at[index, 'Duration'] = (row['EventDate'] - startDate)
    except KeyError:
        pass

C:\Users\shiho\AppData\Local\Temp\ipykernel_54368\2233856948.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-14 days +00:00:00' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_X.at[index, 'Duration'] = (row['EventDate'] - startDate)

In [250]:
df_X.head()

22203

In [251]:
comp_start_date

{15984: Timestamp('1999-03-15 00:00:00'),
 18729: Timestamp('2021-01-28 00:00:00'),
 22043: Timestamp('2004-09-27 00:00:00'),
 26978: Timestamp('1988-01-04 00:00:00'),
 26979: Timestamp('1988-01-04 00:00:00'),
 26980: Timestamp('1988-01-04 00:00:00'),
 26981: Timestamp('1988-01-04 00:00:00'),
 26982: Timestamp('1991-08-21 00:00:00'),
 26983: Timestamp('1988-01-04 00:00:00'),
 26984: Timestamp('2006-01-24 00:00:00'),
 26985: Timestamp('1988-01-04 00:00:00'),
 26986: Timestamp('1988-01-04 00:00:00'),
 26989: Timestamp('2005-09-01 00:00:00'),
 26990: Timestamp('1988-01-04 00:00:00'),
 26991: Timestamp('1994-10-21 00:00:00'),
 26992: Timestamp('1988-01-04 00:00:00'),
 26994: Timestamp('1988-01-04 00:00:00'),
 26995: Timestamp('1988-01-04 00:00:00'),
 26996: Timestamp('1988-01-04 00:00:00'),
 26998: Timestamp('1988-01-04 00:00:00'),
 26999: Timestamp('2006-10-12 00:00:00'),
 27000: Timestamp('1988-01-04 00:00:00'),
 27001: Timestamp('1988-01-04 00:00:00'),
 27002: Timestamp('1988-01-04 00:00:00'),
 27003: Timestamp('1988-01-04 00:00:00'),
 27004: Timestamp('1988-01-04 00:00:00'),
 27005: Timestamp('1988-01-04 00:00:00'),
 27006: Timestamp('1988-01-04 00:00:00'),
 27007: Timestamp('1988-01-04 00:00:00'),
 27008: Timestamp('1988-01-04 00:00:00'),
 27009: Timestamp('2006-01-31 00:00:00'),
 27010: Timestamp('2006-04-04 00:00:00'),
 27011: Timestamp('1989-06-21 00:00:00'),
 27012: Timestamp('1990-10-03 00:00:00'),
 27013: Timestamp('1988-01-04 00:00:00'),
 27014: Timestamp('2011-03-23 00:00:00'),
 27016: Timestamp('1988-01-04 00:00:00'),
 27017: Timestamp('1988-01-04 00:00:00'),
 27019: Timestamp('1988-01-04 00:00:00'),
 27020: Timestamp('1988-02-01 00:00:00'),
 27021: Timestamp('1988-01-04 00:00:00'),
 27022: Timestamp('1991-07-11 00:00:00'),
 27024: Timestamp('1988-01-04 00:00:00'),
 27025: Timestamp('1988-01-04 00:00:00'),
 27026: Timestamp('2006-02-02 00:00:00'),
 27027: Timestamp('1988-01-04 00:00:00'),
 27028: Timestamp('1988-01-04 00:00:00'),
 27029: Timestamp('1988-01-04 00:00:00'),
 27030: Timestamp('1988-01-04 00:00:00'),
 27031: Timestamp('1988-01-04 00:00:00'),
 27032: Timestamp('1988-01-04 00:00:00'),
 27033: Timestamp('1988-01-04 00:00:00'),
 27034: Timestamp('1988-01-04 00:00:00'),
 27035: Timestamp('1988-01-04 00:00:00'),
 27036: Timestamp('1988-01-04 00:00:00'),
 27037: Timestamp('1988-01-04 00:00:00'),
 27038: Timestamp('1988-01-04 00:00:00'),
 27039: Timestamp('1988-01-04 00:00:00'),
 27040: Timestamp('1997-01-20 00:00:00'),
 27041: Timestamp('1990-10-04 00:00:00'),
 27042: Timestamp('1988-01-04 00:00:00'),
 27044: Timestamp('1988-01-04 00:00:00'),
 27046: Timestamp('1988-01-04 00:00:00'),
 27047: Timestamp('1988-01-04 00:00:00'),
 27048: Timestamp('1993-01-04 00:00:00'),
 27049: Timestamp('1988-01-04 00:00:00'),
 27050: Timestamp('1988-01-04 00:00:00'),
 27051: Timestamp('1988-01-04 00:00:00'),
 27052: Timestamp('1991-11-08 00:00:00'),
 27053: Timestamp('1988-01-04 00:00:00'),
 27054: Timestamp('1988-01-04 00:00:00'),
 27055: Timestamp('1988-01-04 00:00:00'),
 27056: Timestamp('1988-01-04 00:00:00'),
 27057: Timestamp('1988-01-04 00:00:00'),
 27058: Timestamp('1988-01-04 00:00:00'),
 27059: Timestamp('1988-01-04 00:00:00'),
 27060: Timestamp('1988-01-04 00:00:00'),
 27061: Timestamp('1991-05-17 00:00:00'),
 27062: Timestamp('1988-01-04 00:00:00'),
 27063: Timestamp('1988-01-04 00:00:00'),
 27064: Timestamp('1988-01-04 00:00:00'),
 27065: Timestamp('1988-01-04 00:00:00'),
 27066: Timestamp('1995-01-31 00:00:00'),
 27067: Timestamp('1988-01-04 00:00:00'),
 27068: Timestamp('1988-01-04 00:00:00'),
 27069: Timestamp('1988-01-04 00:00:00'),
 27070: Timestamp('1988-01-04 00:00:00'),
 27071: Timestamp('1988-01-04 00:00:00'),
 27072: Timestamp('1988-01-04 00:00:00'),
 27073: Timestamp('1988-01-04 00:00:00'),
 27074: Timestamp('1988-01-04 00:00:00'),
 27075: Timestamp('1988-01-04 00:00:00'),
 27076: Timestamp('1988-01-04 00:00:00'),
 27077: Timestamp('1988-01-04 00:00:00'),
 27078: Timestamp('1988-01-04 00:00:00'),
 27079: Timestamp('1988-01-04 00:00:00'),
 27080: Timestamp('1988-01-04 00:00:00'),
 27081: Timestamp('1988-01-04 00:00:00'),
 27082: Timestamp('1988-01-04 00:00:00'),
 27083: Timestamp('1988-01-04 00:00:00'),
 27084: Timestamp('2007-04-02 00:00:00'),
 27085: Timestamp('1988-01-04 00:00:00'),
 27086: Timestamp('1992-06-26 00:00:00'),
 27087: Timestamp('1988-01-04 00:00:00'),
 27088: Timestamp('1991-04-01 00:00:00'),
 27089: Timestamp('1988-01-04 00:00:00'),
 27090: Timestamp('1988-01-04 00:00:00'),
 27091: Timestamp('1988-01-04 00:00:00'),
 27092: Timestamp('1988-01-04 00:00:00'),
 27093: Timestamp('1988-01-04 00:00:00'),
 27094: Timestamp('1988-01-04 00:00:00'),
 27095: Timestamp('1988-01-04 00:00:00'),
 27096: Timestamp('1988-01-04 00:00:00'),
 27097: Timestamp('1988-01-04 00:00:00'),
 27098: Timestamp('1988-01-04 00:00:00'),
 27099: Timestamp('1988-01-04 00:00:00'),
 27101: Timestamp('1988-01-04 00:00:00'),
 27102: Timestamp('1988-01-04 00:00:00'),
 27103: Timestamp('1988-01-04 00:00:00'),
 27105: Timestamp('1988-01-04 00:00:00'),
 27106: Timestamp('1988-01-04 00:00:00'),
 27107: Timestamp('1988-01-04 00:00:00'),
 27108: Timestamp('1988-02-01 00:00:00'),
 27109: Timestamp('1988-01-04 00:00:00'),
 27110: Timestamp('1988-01-04 00:00:00'),
 27111: Timestamp('1988-01-04 00:00:00'),
 27112: Timestamp('1988-01-04 00:00:00'),
 27113: Timestamp('1988-01-04 00:00:00'),
 27114: Timestamp('1988-01-04 00:00:00'),
 27115: Timestamp('1988-01-04 00:00:00'),
 27116: Timestamp('1988-01-04 00:00:00'),
 27117: Timestamp('1988-01-04 00:00:00'),
 27118: Timestamp('1988-02-01 00:00:00'),
 27119: Timestamp('1988-01-04 00:00:00'),
 27120: Timestamp('1988-01-04 00:00:00'),
 27121: Timestamp('1988-01-04 00:00:00'),
 27122: Timestamp('1988-01-04 00:00:00'),
 27123: Timestamp('1988-01-04 00:00:00'),
 27124: Timestamp('1988-01-04 00:00:00'),
 27125: Timestamp('2006-01-30 00:00:00'),
 27127: Timestamp('1988-01-04 00:00:00'),
 27128: Timestamp('1988-01-04 00:00:00'),
 27129: Timestamp('1991-06-28 00:00:00'),
 27130: Timestamp('1989-12-01 00:00:00'),
 27134: Timestamp('2007-06-06 00:00:00'),
 27135: Timestamp('1988-01-04 00:00:00'),
 27136: Timestamp('1988-01-04 00:00:00'),
 27137: Timestamp('1991-10-30 00:00:00'),
 27138: Timestamp('1988-01-04 00:00:00'),
 27140: Timestamp('2007-09-27 00:00:00'),
 27144: Timestamp('1988-01-04 00:00:00'),
 27145: Timestamp('1990-07-20 00:00:00'),
 27147: Timestamp('1988-01-04 00:00:00'),
 27148: Timestamp('1988-01-04 00:00:00'),
 27149: Timestamp('1988-01-04 00:00:00'),
 27150: Timestamp('1988-01-04 00:00:00'),
 27151: Timestamp('2005-12-01 00:00:00'),
 27152: Timestamp('2007-04-18 00:00:00'),
 27153: Timestamp('1988-01-04 00:00:00'),
 27154: Timestamp('1988-01-04 00:00:00'),
 27157: Timestamp('1988-01-04 00:00:00'),
 27158: Timestamp('1992-05-19 00:00:00'),
 27159: Timestamp('1988-01-04 00:00:00'),
 27160: Timestamp('1989-05-23 00:00:00'),
 27161: Timestamp('1999-02-03 00:00:00'),
 27162: Timestamp('1988-01-04 00:00:00'),
 27163: Timestamp('1988-01-04 00:00:00'),
 27164: Timestamp('1988-01-04 00:00:00'),
 27165: Timestamp('1988-01-04 00:00:00'),
 27166: Timestamp('1988-01-04 00:00:00'),
 27167: Timestamp('1988-01-04 00:00:00'),
 27168: Timestamp('1988-01-04 00:00:00'),
 27169: Timestamp('1988-02-03 00:00:00'),
 27170: Timestamp('1988-01-04 00:00:00'),
 27171: Timestamp('1988-01-04 00:00:00'),
 27172: Timestamp('1988-01-04 00:00:00'),
 27173: Timestamp('1988-01-04 00:00:00'),
 27174: Timestamp('1988-01-04 00:00:00'),
 27175: Timestamp('1988-01-04 00:00:00'),
 27176: Timestamp('1988-01-04 00:00:00'),
 27177: Timestamp('1988-01-04 00:00:00'),
 27178: Timestamp('1988-07-08 00:00:00'),
 27179: Timestamp('1992-03-19 00:00:00'),
 27181: Timestamp('1988-01-05 00:00:00'),
 27182: Timestamp('1989-05-31 00:00:00'),
 27183: Timestamp('1988-01-04 00:00:00'),
 27184: Timestamp('1990-02-08 00:00:00'),
 27185: Timestamp('1988-01-04 00:00:00'),
 27186: Timestamp('1991-04-24 00:00:00'),
 27187: Timestamp('1988-01-04 00:00:00'),
 27188: Timestamp('2005-12-20 00:00:00'),
 27189: Timestamp('1988-01-04 00:00:00'),
 27190: Timestamp('1992-02-28 00:00:00'),
 27191: Timestamp('1988-01-04 00:00:00'),
 27192: Timestamp('2006-03-07 00:00:00'),
 27193: Timestamp('1988-02-01 00:00:00'),
 27194: Timestamp('1988-01-04 00:00:00'),
 27195: Timestamp('1992-04-09 00:00:00'),
 27196: Timestamp('1988-01-04 00:00:00'),
 27197: Timestamp('2005-10-12 00:00:00'),
 27198: Timestamp('1988-01-04 00:00:00'),
 27200: Timestamp('1988-01-04 00:00:00'),
 27201: Timestamp('1988-01-04 00:00:00'),
 27204: Timestamp('1988-01-04 00:00:00'),
 27205: Timestamp('1988-01-04 00:00:00'),
 27206: Timestamp('1988-01-04 00:00:00'),
 27207: Timestamp('1992-03-27 00:00:00'),
 27208: Timestamp('1990-11-23 00:00:00'),
 27209: Timestamp('1988-01-04 00:00:00'),
 27210: Timestamp('1988-01-04 00:00:00'),
 27211: Timestamp('1988-01-04 00:00:00'),
 27212: Timestamp('1988-01-04 00:00:00'),
 27215: Timestamp('1988-01-04 00:00:00'),
 27218: Timestamp('2010-05-20 00:00:00'),
 27220: Timestamp('2008-08-12 00:00:00'),
 27222: Timestamp('1988-01-04 00:00:00'),
 27224: Timestamp('1988-01-04 00:00:00'),
 27225: Timestamp('1988-01-04 00:00:00'),
 27226: Timestamp('1989-09-21 00:00:00'),
 27227: Timestamp('1988-01-04 00:00:00'),
 27228: Timestamp('1988-02-01 00:00:00'),
 27229: Timestamp('1988-01-04 00:00:00'),
 27230: Timestamp('1988-01-04 00:00:00'),
 27231: Timestamp('1988-01-04 00:00:00'),
 27232: Timestamp('1989-08-29 00:00:00'),
 27233: Timestamp('1988-01-04 00:00:00'),
 27234: Timestamp('1988-01-04 00:00:00'),
 27235: Timestamp('1988-01-04 00:00:00'),
 27236: Timestamp('1988-01-04 00:00:00'),
 27237: Timestamp('2007-01-11 00:00:00'),
 27238: Timestamp('1988-01-04 00:00:00'),
 27239: Timestamp('1988-01-04 00:00:00'),
 27240: Timestamp('1988-01-04 00:00:00'),
 27241: Timestamp('1988-01-04 00:00:00'),
 27242: Timestamp('1988-01-04 00:00:00'),
 27243: Timestamp('1988-01-04 00:00:00'),
 27244: Timestamp('1988-01-04 00:00:00'),
 27245: Timestamp('1988-01-04 00:00:00'),
 27246: Timestamp('1988-01-04 00:00:00'),
 27247: Timestamp('1988-01-04 00:00:00'),
 27248: Timestamp('1988-01-04 00:00:00'),
 27249: Timestamp('1988-01-04 00:00:00'),
 27250: Timestamp('1988-01-04 00:00:00'),
 27251: Timestamp('1988-01-04 00:00:00'),
 27252: Timestamp('1988-01-04 00:00:00'),
 27254: Timestamp('1988-01-04 00:00:00'),
 27255: Timestamp('1988-01-04 00:00:00'),
 27257: Timestamp('1988-02-01 00:00:00'),
 27258: Timestamp('1988-01-04 00:00:00'),
 27259: Timestamp('1988-01-04 00:00:00'),
 27260: Timestamp('1988-01-04 00:00:00'),
 27261: Timestamp('1988-01-04 00:00:00'),
 27262: Timestamp('1988-02-01 00:00:00'),
 27263: Timestamp('1988-01-04 00:00:00'),
 27264: Timestamp('1988-01-04 00:00:00'),
 27265: Timestamp('1988-01-04 00:00:00'),
 27266: Timestamp('1988-01-04 00:00:00'),
 27267: Timestamp('1988-01-04 00:00:00'),
 27268: Timestamp('1988-01-04 00:00:00'),
 27269: Timestamp('1988-01-04 00:00:00'),
 27270: Timestamp('1988-01-04 00:00:00'),
 27271: Timestamp('1988-01-04 00:00:00'),
 27272: Timestamp('1988-01-04 00:00:00'),
 27273: Timestamp('1988-02-01 00:00:00'),
 27274: Timestamp('1988-01-04 00:00:00'),
 27275: Timestamp('1992-03-25 00:00:00'),
 27276: Timestamp('1988-01-04 00:00:00'),
 27277: Timestamp('1988-01-04 00:00:00'),
 27278: Timestamp('1988-01-04 00:00:00'),
 27279: Timestamp('1988-01-04 00:00:00'),
 27280: Timestamp('1988-01-04 00:00:00'),
 27282: Timestamp('1988-01-04 00:00:00'),
 27283: Timestamp('1988-01-04 00:00:00'),
 27284: Timestamp('1988-01-04 00:00:00'),
 27285: Timestamp('1988-01-04 00:00:00'),
 27286: Timestamp('1988-01-04 00:00:00'),
 27287: Timestamp('1988-01-04 00:00:00'),
 27288: Timestamp('1988-01-04 00:00:00'),
 27289: Timestamp('1988-01-04 00:00:00'),
 27290: Timestamp('1988-01-04 00:00:00'),
 27291: Timestamp('1988-01-04 00:00:00'),
 27292: Timestamp('1992-06-18 00:00:00'),
 27293: Timestamp('1988-01-04 00:00:00'),
 27294: Timestamp('1988-01-04 00:00:00'),
 27295: Timestamp('1988-01-04 00:00:00'),
 27296: Timestamp('1988-01-04 00:00:00'),
 27297: Timestamp('1988-01-04 00:00:00'),
 27298: Timestamp('1988-01-04 00:00:00'),
 27299: Timestamp('1988-01-04 00:00:00'),
 27300: Timestamp('1988-01-04 00:00:00'),
 27301: Timestamp('1988-01-04 00:00:00'),
 27302: Timestamp('1988-01-04 00:00:00'),
 27303: Timestamp('1988-01-04 00:00:00'),
 27304: Timestamp('1988-01-04 00:00:00'),
 27305: Timestamp('1988-01-04 00:00:00'),
 27306: Timestamp('1988-01-04 00:00:00'),
 27307: Timestamp('1988-01-04 00:00:00'),
 27308: Timestamp('1988-01-04 00:00:00'),
 27309: Timestamp('1988-01-04 00:00:00'),
 27310: Timestamp('1988-01-04 00:00:00'),
 27311: Timestamp('1990-08-02 00:00:00'),
 27313: Timestamp('1988-01-04 00:00:00'),
 27314: Timestamp('1992-02-28 00:00:00'),
 27315: Timestamp('1988-01-04 00:00:00'),
 27316: Timestamp('1988-01-04 00:00:00'),
 27317: Timestamp('1988-01-04 00:00:00'),
 27318: Timestamp('1988-01-04 00:00:00'),
 27319: Timestamp('1988-01-04 00:00:00'),
 27320: Timestamp('1988-01-04 00:00:00'),
 27321: Timestamp('1988-01-04 00:00:00'),
 27322: Timestamp('1988-01-04 00:00:00'),
 27323: Timestamp('1988-01-04 00:00:00'),
 27324: Timestamp('1988-01-04 00:00:00'),
 27325: Timestamp('1992-04-22 00:00:00'),
 27326: Timestamp('1988-01-04 00:00:00'),
 27327: Timestamp('1988-01-04 00:00:00'),
 27328: Timestamp('1988-01-04 00:00:00'),
 27329: Timestamp('1988-01-04 00:00:00'),
 27330: Timestamp('1988-01-04 00:00:00'),
 27331: Timestamp('1988-01-04 00:00:00'),
 27332: Timestamp('1988-01-04 00:00:00'),
 27333: Timestamp('1988-01-04 00:00:00'),
 27334: Timestamp('1988-01-04 00:00:00'),
 27335: Timestamp('1988-01-04 00:00:00'),
 27336: Timestamp('1988-01-04 00:00:00'),
 27337: Timestamp('1988-01-04 00:00:00'),
 27338: Timestamp('1988-01-04 00:00:00'),
 27339: Timestamp('1988-01-04 00:00:00'),
 27340: Timestamp('1988-01-04 00:00:00'),
 27341: Timestamp('1988-01-04 00:00:00'),
 27342: Timestamp('1988-01-04 00:00:00'),
 27343: Timestamp('1988-01-04 00:00:00'),
 27344: Timestamp('1998-11-05 00:00:00'),
 27345: Timestamp('1988-01-04 00:00:00'),
 27346: Timestamp('1988-01-04 00:00:00'),
 27347: Timestamp('1988-01-04 00:00:00'),
 27348: Timestamp('1988-01-04 00:00:00'),
 27349: Timestamp('1988-01-04 00:00:00'),
 27350: Timestamp('1988-01-04 00:00:00'),
 27351: Timestamp('1988-01-04 00:00:00'),
 27352: Timestamp('1988-01-04 00:00:00'),
 27353: Timestamp('1988-01-04 00:00:00'),
 27354: Timestamp('1988-01-04 00:00:00'),
 27355: Timestamp('1988-01-04 00:00:00'),
 27356: Timestamp('1988-01-04 00:00:00'),
 27357: Timestamp('1988-01-04 00:00:00'),
 27358: Timestamp('1988-01-04 00:00:00'),
 27359: Timestamp('1988-01-04 00:00:00'),
 27360: Timestamp('1988-01-04 00:00:00'),
 27361: Timestamp('1988-01-04 00:00:00'),
 27362: Timestamp('1988-01-04 00:00:00'),
 27363: Timestamp('1988-01-04 00:00:00'),
 27364: Timestamp('1988-01-04 00:00:00'),
 27365: Timestamp('1992-03-13 00:00:00'),
 27366: Timestamp('1988-01-04 00:00:00'),
 27367: Timestamp('1988-01-04 00:00:00'),
 27368: Timestamp('1989-06-06 00:00:00'),
 27369: Timestamp('1989-12-01 00:00:00'),
 27370: Timestamp('1988-01-04 00:00:00'),
 27371: Timestamp('2005-12-14 00:00:00'),
 27372: Timestamp('2005-10-14 00:00:00'),
 27373: Timestamp('1992-05-12 00:00:00'),
 27374: Timestamp('1988-01-04 00:00:00'),
 27375: Timestamp('1988-01-04 00:00:00'),
 27376: Timestamp('1988-01-04 00:00:00'),
 27377: Timestamp('1988-01-04 00:00:00'),
 27378: Timestamp('1988-01-04 00:00:00'),
 27379: Timestamp('1988-01-04 00:00:00'),
 27380: Timestamp('1988-01-04 00:00:00'),
 27381: Timestamp('1988-01-04 00:00:00'),
 27382: Timestamp('1988-01-04 00:00:00'),
 27383: Timestamp('2005-09-26 00:00:00'),
 27384: Timestamp('1988-01-04 00:00:00'),
 27385: Timestamp('1988-01-04 00:00:00'),
 27386: Timestamp('1988-01-04 00:00:00'),
 27387: Timestamp('1988-01-04 00:00:00'),
 27388: Timestamp('1992-03-13 00:00:00'),
 27389: Timestamp('1988-01-04 00:00:00'),
 27390: Timestamp('1988-01-04 00:00:00'),
 27391: Timestamp('1988-01-04 00:00:00'),
 27392: Timestamp('1988-01-04 00:00:00'),
 27393: Timestamp('1988-01-04 00:00:00'),
 27394: Timestamp('1988-01-04 00:00:00'),
 27395: Timestamp('1988-01-04 00:00:00'),
 27396: Timestamp('1988-01-04 00:00:00'),
 27397: Timestamp('1988-01-04 00:00:00'),
 27398: Timestamp('1992-02-13 00:00:00'),
 27399: Timestamp('1988-01-04 00:00:00'),
 27400: Timestamp('1991-07-19 00:00:00'),
 27401: Timestamp('1988-01-04 00:00:00'),
 27402: Timestamp('1992-07-30 00:00:00'),
 27403: Timestamp('1989-10-04 00:00:00'),
 27404: Timestamp('1988-01-04 00:00:00'),
 27405: Timestamp('1988-01-04 00:00:00'),
 27406: Timestamp('1988-02-01 00:00:00'),
 27407: Timestamp('1988-01-04 00:00:00'),
 27408: Timestamp('1988-01-04 00:00:00'),
 27409: Timestamp('1988-01-04 00:00:00'),
 27411: Timestamp('2006-05-03 00:00:00'),
 27412: Timestamp('1990-10-01 00:00:00'),
 27413: Timestamp('1988-01-04 00:00:00'),
 27414: Timestamp('1988-01-04 00:00:00'),
 27415: Timestamp('1991-07-19 00:00:00'),
 27416: Timestamp('1988-01-04 00:00:00'),
 27417: Timestamp('1995-08-17 00:00:00'),
 27418: Timestamp('1988-01-04 00:00:00'),
 27419: Timestamp('1988-01-04 00:00:00'),
 27420: Timestamp('1988-01-04 00:00:00'),
 27421: Timestamp('1988-01-04 00:00:00'),
 27422: Timestamp('1988-01-04 00:00:00'),
 27423: Timestamp('1988-12-02 00:00:00'),
 27424: Timestamp('1988-01-04 00:00:00'),
 27425: Timestamp('1988-01-04 00:00:00'),
 27426: Timestamp('1988-01-04 00:00:00'),
 27427: Timestamp('1988-01-04 00:00:00'),
 27428: Timestamp('1988-01-04 00:00:00'),
 27429: Timestamp('1992-02-05 00:00:00'),
 27430: Timestamp('1988-01-04 00:00:00'),
 27431: Timestamp('1988-01-04 00:00:00'),
 27432: Timestamp('1988-01-04 00:00:00'),
 27433: Timestamp('1988-01-04 00:00:00'),
 27434: Timestamp('1990-04-25 00:00:00'),
 27435: Timestamp('1988-01-04 00:00:00'),
 27436: Timestamp('1989-12-01 00:00:00'),
 27437: Timestamp('1992-06-10 00:00:00'),
 27438: Timestamp('2006-02-01 00:00:00'),
 27439: Timestamp('1992-04-09 00:00:00'),
 27440: Timestamp('1988-01-04 00:00:00'),
 27441: Timestamp('1988-01-05 00:00:00'),
 27442: Timestamp('1988-01-04 00:00:00'),
 27443: Timestamp('1988-01-04 00:00:00'),
 27444: Timestamp('1988-01-04 00:00:00'),
 27445: Timestamp('1988-01-04 00:00:00'),
 27446: Timestamp('1988-01-04 00:00:00'),
 27448: Timestamp('1991-12-18 00:00:00'),
 27451: Timestamp('2006-11-01 00:00:00'),
 27452: Timestamp('1988-01-04 00:00:00'),
 27453: Timestamp('1988-01-04 00:00:00'),
 27454: Timestamp('1988-01-04 00:00:00'),
 27458: Timestamp('1988-01-04 00:00:00'),
 27459: Timestamp('1988-01-04 00:00:00'),
 27460: Timestamp('1988-01-04 00:00:00'),
 27461: Timestamp('1988-01-04 00:00:00'),
 27462: Timestamp('1988-01-04 00:00:00'),
 27463: Timestamp('1992-03-05 00:00:00'),
 27464: Timestamp('1988-01-04 00:00:00'),
 27465: Timestamp('1988-01-04 00:00:00'),
 27466: Timestamp('1988-01-04 00:00:00'),
 27469: Timestamp('1988-01-04 00:00:00'),
 27470: Timestamp('1992-06-03 00:00:00'),
 27471: Timestamp('1988-01-04 00:00:00'),
 27473: Timestamp('1988-01-04 00:00:00'),
 27474: Timestamp('1995-07-10 00:00:00'),
 27476: Timestamp('1988-01-04 00:00:00'),
 27477: Timestamp('1995-01-31 00:00:00'),
 27478: Timestamp('1988-01-04 00:00:00'),
 27479: Timestamp('1988-01-04 00:00:00'),
 27480: Timestamp('1991-03-28 00:00:00'),
 27482: Timestamp('1988-01-04 00:00:00'),
 27483: Timestamp('1988-01-04 00:00:00'),
 27484: Timestamp('1988-01-04 00:00:00'),
 27485: Timestamp('1988-01-04 00:00:00'),
 27486: Timestamp('1988-01-04 00:00:00'),
 27487: Timestamp('1988-01-04 00:00:00'),
 27489: Timestamp('1988-01-04 00:00:00'),
 27490: Timestamp('1988-01-04 00:00:00'),
 27491: Timestamp('1988-01-04 00:00:00'),
 27492: Timestamp('1992-06-10 00:00:00'),
 27493: Timestamp('1988-01-04 00:00:00'),
 27494: Timestamp('1988-01-04 00:00:00'),
 27496: Timestamp('1988-01-04 00:00:00'),
 27497: Timestamp('1988-01-04 00:00:00'),
 27498: Timestamp('1988-01-04 00:00:00'),
 27499: Timestamp('1988-01-04 00:00:00'),
 27500: Timestamp('1988-01-04 00:00:00'),
 27501: Timestamp('1988-01-04 00:00:00'),

In [271]:
df_X

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,EventDate_string,Duration,StartDate
0,15984,1999,3,0.167570,0.006248,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.324205,0,1999-03-01,1999 03,-14 days +00:00:00,1999-03-15
1,15984,1999,4,0.200972,0.006487,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.373554,0,1999-04-01,1999 04,17 days 00:00:00,1999-03-15
2,15984,1999,5,0.186079,0.006896,NaN,NaN,NaN,NaN,NaN,...,0.274280,0.0,0.0,0.000000,2.401488,0,1999-05-01,1999 05,47 days 00:00:00,1999-03-15
3,15984,1999,6,0.210673,0.007457,NaN,NaN,0.447325,0.0,0.00932,...,0.276896,0.0,0.0,0.000000,2.455890,0,1999-06-01,1999 06,78 days 00:00:00,1999-03-15
4,15984,1999,7,0.162536,0.007322,4.190356,0.0,0.447325,0.0,0.00932,...,0.259755,0.0,0.0,0.000000,2.455596,0,1999-07-01,1999 07,108 days 00:00:00,1999-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753072,212037,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,2023-07-01,2023 07,-4 days +00:00:00,2023-07-05
2753073,212083,2023,6,0.038825,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,NaN,NaN,NaN,3.405230,0.000000,1,2023-06-01,2023 06,-29 days +00:00:00,2023-06-30
2753074,212083,2023,7,0.015960,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,NaN,NaN,NaN,3.453191,0.000000,1,2023-07-01,2023 07,1 days 00:00:00,2023-06-30
2753075,212122,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,2023-07-01,2023 07,-5 days +00:00:00,2023-07-06
2753076,212139,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,2023-07-01,2023 07,-9 days +00:00:00,2023-07-10

In [280]:
from pandas_gbq import to_gbq
import json

result = pd.merge(df_X, new_df, on=['CompanyNumber', 'EventDate_string'], how='outer')
result['EventType'] = result['EventType'].fillna(0)

In [292]:
with open('../token.json', 'r') as token_file:
    token_data = json.load(token_file)
    project_id = token_data.get('project_id', 'default-project-id')

dataset_id = "capstone"
table_id = 'X_Y_merged_3'

to_gbq(result, destination_table=f'{project_id}.{dataset_id}.{table_id}', project_id=project_id, if_exists='replace')

In [293]:
result.isna().sum().sort_values(ascending=False)

dtdlevel            435285
dtdtrend            435285
liqnonfinlevel      333045
liqnonfintrend      333045
m2b                 323843
ni2talevel          315340
ni2tatrend          315340
sigma               309311
sizetrend           180306
sizelevel           180306
DTDmedianNonFin     146258
liqfinlevel          84390
lqfintrend           84390
StkIndx              66614
DTDmedianFin         49489
STInt                36889
yyyy                 19571
mm                   19571
dummy297fin          19571
EventDate            19571
StartDate            19571
Duration                 0
CompanyNumber            0
EventDate_string         0
EventType                0
dtype: int64

In [143]:
count_event_type_1 = len(result[result['EventType'] == 1.0])
count_event_type_1

16252

In [17]:
result.shape
result

,CompNo,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,Event_type,Sector_Number,Exchange
0,15984,1999,3,0.167570,0.006248,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.324205,0,199903,NaN,NaN,NaN
1,15984,1999,4,0.200972,0.006487,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.373554,0,199904,NaN,NaN,NaN
2,15984,1999,5,0.186079,0.006896,NaN,NaN,NaN,NaN,NaN,...,0.274280,0.0,0.0,0.000000,2.401488,0,199905,NaN,NaN,NaN
3,15984,1999,6,0.210673,0.007457,NaN,NaN,0.447325,0.0,0.00932,...,0.276896,0.0,0.0,0.000000,2.455890,0,199906,NaN,NaN,NaN
4,15984,1999,7,0.162536,0.007322,4.190356,0.0,0.447325,0.0,0.00932,...,0.259755,0.0,0.0,0.000000,2.455596,0,199907,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753075,212037,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,202307,0.0,18.0,16.0
2753076,212083,2023,6,0.038825,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,NaN,NaN,NaN,3.405230,0.000000,1,202306,NaN,NaN,NaN
2753077,212083,2023,7,0.015960,-0.010290,NaN,NaN,0.000000,0.0,NaN,...,NaN,NaN,NaN,3.453191,0.000000,1,202307,0.0,14.0,16.0
2753078,212122,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,202307,0.0,12.0,16.0
2753079,212139,2023,7,0.015960,-0.010290,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.000000,2.087496,0,202307,0.0,18.0,16.0