In [4]:
import pandas as pd
from google.oauth2 import service_account
import pandas_gbq as gbq

In [31]:
file_path = 'Datasets/comp_na_daily_all.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

df.head()

C:\Users\Melissa\AppData\Local\Temp\ipykernel_28368\754818755.py:4: DtypeWarning: Columns (10,12,13,17,18,20,25,26,30,32,33,34,35,647,648,654,668,669,674,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [5]:
df.describe()

,gvkey,fyearq,fqtr,fyr,adrrq,ajexq,ajpq,currtrq,curuscnq,scfq,...,ggroup,gind,gsector,gsubind,naics,priusa,sic,spcindcd,spcseccd,stko
count,487220.000000,487220.000000,487058.000000,487220.000000,18612.000000,487219.000000,487219.000000,393137.000000,45358.000000,373000.000000,...,409611.000000,409611.000000,409611.000000,4.096110e+05,486076.000000,467316.000000,487219.000000,343751.000000,343751.000000,413279.000000
mean,18622.626315,2011.270791,2.472256,10.338420,15.470773,1.763091,1.761595,0.984600,0.807123,6.998418,...,3257.051300,325726.612640,32.400326,3.257268e+07,410436.048311,4.857103,4994.300425,452.457366,892.684117,0.705852
std,9681.822235,7.161584,1.116618,3.114799,147.092916,104.254790,104.254736,0.145942,0.114797,0.087336,...,1341.986937,134196.778213,13.419778,1.341967e+07,179980.740891,17.778180,2071.700652,254.753803,92.317219,1.246715
min,1004.000000,1999.000000,1.000000,1.000000,0.001000,0.000000,0.000000,0.000100,0.104500,2.000000,...,1010.000000,101010.000000,10.000000,1.010101e+07,11.000000,1.000000,100.000000,110.000000,600.000000,0.000000
25%,10609.000000,2005.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,0.738900,7.000000,...,2020.000000,202010.000000,20.000000,2.020105e+07,325414.000000,1.000000,3443.000000,235.000000,800.000000,0.000000
50%,18892.000000,2012.000000,2.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.780900,7.000000,...,3510.000000,351020.000000,35.000000,3.510202e+07,455219.000000,1.000000,5122.000000,380.000000,925.000000,0.000000
75%,26938.000000,2018.000000,3.000000,12.000000,5.000000,1.000000,1.000000,1.000000,0.896900,7.000000,...,4030.000000,403010.000000,40.000000,4.030104e+07,525910.000000,1.000000,6722.000000,710.000000,974.000000,1.000000
max,36356.000000,2023.000000,4.000000,12.000000,5000.000000,20000.000000,20000.000000,2.038900,1.311500,7.000000,...,6020.000000,602010.000000,60.000000,6.020104e+07,999990.000000,99.000000,9998.000000,850.000000,978.000000,4.000000

In [6]:
na_count_per_column = df.isna().sum()

na_count_is_zero = na_count_per_column[na_count_per_column == 0]

print(na_count_per_column)

# 487220 rows, DLDTE -- Research Company Deletion Date (DLDTE) and IPODATE -- Company Initial Public Offering Date (IPODATE) > 300000 missing values

gvkey            0
datadate         0
fyearq           0
fqtr           162
fyr              0
             ...
state        39104
stko         73941
weburl       95414
dldte       303440
ipodate     334986
Length: 680, dtype: int64

In [8]:
file_path2 = 'Datasets/Compustat_north_america_industry_specific_quarterly(196202_202308).csv'

# Read the CSV file into a pandas DataFrame
df2 = pd.read_csv(file_path2)

df2.head()

C:\Users\Melissa\AppData\Local\Temp\ipykernel_19872\3222087231.py:4: DtypeWarning: Columns (521,522,523,524,525,526,528,529,531,536,539,547,551,552,557,561,562,565) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2)

In [17]:
credentials_path = 'token.json'

# Authenticate with your credentials
credentials = service_account.Credentials.from_service_account_file(
    credentials_path, scopes=['https://www.googleapis.com/auth/bigquery'])

# Set the credentials for pandas_gbq
gbq.context.credentials = credentials

project_id = 'capstone-398012'
dataset_id = 'capstone'
table_id = "filled_table_2"

from pandas_gbq import read_gbq

query = f"""
SELECT *
FROM `{project_id}.{dataset_id}.{table_id}`

"""

# Authenticate and read data from BigQuery into a DataFrame
cri_df = read_gbq(query, project_id=project_id, dialect='standard')
cri_df.head()

Downloading: 100%|██████████|

,CompanyNumber,yyyy,mm,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,ni2tatrend_notNA,sigma_notNA,sizetrend_notNA,sizelevel_notNA,DTDmedianNonFin_notNA,liqfinlevel_notNA,lqfintrend_notNA,StkIndx_notNA,DTDmedianFin_notNA,STInt_notNA
0,27393,1988,1,0.093809,0.011518,8.261242,-0.019985,0.293348,-0.006930,0.007797,...,0,0,1,1,0,1,1,0,1,1
1,27743,1988,1,0.143173,0.011518,0.002370,0.078686,0.027940,0.020074,-0.010069,...,0,0,1,1,0,1,1,0,1,1
2,27810,1988,1,0.162171,0.011518,8.199871,0.009959,-0.107092,-0.021722,0.004038,...,0,0,1,1,0,1,1,0,1,1
3,27829,1988,1,0.093809,0.011518,3.231864,0.009803,0.566271,0.017915,0.002784,...,0,0,1,1,0,1,1,0,1,1
4,27958,1988,1,0.093809,0.011518,7.566077,0.031028,-0.056320,-0.010913,0.009707,...,0,0,1,1,0,1,1,0,1,1

In [5]:
file_path3 = 'Datasets/CompMapping.csv'

# Read the CSV file into a pandas DataFrame
mapping_df = pd.read_csv(file_path3)

mapping_df.head()

,U3_COMPANY_NUMBER,ID_BB_UNIQUE,ID_BB_COMPANY,Security_number,Ticker,Company_name,Country_name,ID_BB_SECURITY,ID_BB_PRIM_SECURITY,Currency_ID,...,INDUSTRY_SECTOR_NUM,INDUSTRY_GROUP_NUM,INDUSTRY_SUBGROUP_NUM,Revision,Flag,COMPANY_ID,INDUSTRY_SECTOR_NUM_OLD,INDUSTRY_GROUP_NUM_OLD,INDUSTRY_SUBGROUP_NUM_OLD,ID_BB_COMPANY.1
0,17181.0,EQ0000000000061969,911291,2692,601601 CH,China Pacific Insurance Group Co Ltd,China,1000,1000,53,...,14.0,1412.0,141210.0,52526,1,56130,10008.0,20055.0,164.0,911291.0
1,19686.0,EQ0000000000090331,7624985,4203,600317 CH,Yingkou Port Liability Co Ltd,China,1000,1000,53,...,17.0,1711.0,171112.0,199671,1,62849,10005.0,20038.0,99.0,7624985.0
2,20164.0,EQ0000000000244789,7789397,2292,600526 CH,Zhejiang Feida Environmental Science & Technol...,China,1000,1000,53,...,17.0,1710.0,171013.0,249024,1,63711,10011.0,20083.0,348.0,7789397.0
3,20078.0,EQ0000000000202452,7760232,2041,600397 CH,Anyuan Coal Industry Group Co Ltd,China,1000,1000,53,...,18.0,1810.0,181015.0,127583,1,63577,10007.0,20046.0,134.0,7760232.0
4,20106.0,EQ0000000000218625,7773561,4206,600593 CH,Dalian Sunasia Tourism Holding Co Ltd,China,1000,1000,53,...,11.0,1111.0,111111.0,257241,1,63623,10004.0,20023.0,331.0,7773561.0

In [34]:
mapping_df['Ticker'] = mapping_df.apply(lambda row: row['Ticker'].replace(' US', '') if row['Country_name'] == 'United States' else row['Ticker'], axis=1)
mapping_df['Ticker'] = mapping_df.apply(lambda row: row['Ticker'].replace(' CN', '') if row['Country_name'] == 'Canada' else row['Ticker'], axis=1)

mapping_df = mapping_df.drop(mapping_df[mapping_df['Country_name'] == 'China'].index)

mapping_df['U3_COMPANY_NUMBER'] = mapping_df['U3_COMPANY_NUMBER'].astype(int)

mapping_df

,U3_COMPANY_NUMBER,ID_BB_UNIQUE,ID_BB_COMPANY,Security_number,Ticker,Company_name,Country_name,ID_BB_SECURITY,ID_BB_PRIM_SECURITY,Currency_ID,...,INDUSTRY_SECTOR_NUM,INDUSTRY_GROUP_NUM,INDUSTRY_SUBGROUP_NUM,Revision,Flag,COMPANY_ID,INDUSTRY_SECTOR_NUM_OLD,INDUSTRY_GROUP_NUM_OLD,INDUSTRY_SUBGROUP_NUM_OLD,ID_BB_COMPANY.1
5435,45489,EQ0000000000045395,7583991,30,ACFC,Atlantic Coast Financial Corp,United States,1000,1000,1,...,14.0,1410.0,141010.0,52486,1,62465,10008.0,20059.0,153.0,7583991.0
5436,32574,EQ0000000000060201,108813,127659,WHIT,Whittier Energy Corp,United States,1001,1001,1,...,13.0,1310.0,131010.0,10001,1,7022,10007.0,20048.0,135.0,108813.0
5437,54581,EQ0000000000077079,7397262,140869,VICO,Vico Corp,United States,1000,1000,1,...,NaN,NaN,NaN,10001,1,61993,NaN,NaN,NaN,7397262.0
5438,45512,EQ0000000000082935,7617825,234,EACIQ,Erickson Inc,United States,1000,1000,1,...,17.0,1711.0,171112.0,52486,1,62820,10011.0,20091.0,233.0,7617825.0
5439,-99,EQ0000000000096791,1414585,1263,BKGM,BankGuam Holding Co,United States,1001,1001,1,...,NaN,NaN,NaN,286355,1,133511,10008.0,20051.0,675.0,1414585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42961,52082,EQ0174591900001000,1745919,113856,MND,Mandalay Resources Corp,Canada,1000,1000,8,...,18.0,1810.0,181015.0,119079,1,59765,10002.0,20013.0,16.0,1745919.0
42962,52105,EQ0174692100001000,1746921,114811,NVCN,Neovasc Inc,Canada,1000,1000,8,...,16.0,1610.0,161012.0,119996,1,59820,10005.0,20041.0,117.0,1746921.0
42963,92077,EQ0174842200060000,1748422,116327,JE/H,Just Energy Group Inc,Canada,1000,1000,8,...,20.0,2010.0,201010.0,274581,1,59866,10014.0,20111.0,269.0,1748422.0
42964,53591,EQ0711346500001000,7113465,150904,SEN/P,Seneca Equities Corp,Canada,1000,1000,8,...,NaN,NaN,NaN,10001,1,60714,10008.0,20056.0,702.0,7113465.0
42965,53633,EQ0756931300001000,7569313,107350,BSR,Bluestone Resources Inc/Canada,Canada,1000,1000,8,...,NaN,NaN,NaN,111121,1,62336,10002.0,20013.0,276.0,7569313.0

In [36]:
ticker_df = pd.merge(cri_df, mapping_df[['U3_COMPANY_NUMBER', 'Ticker']],  left_on='CompanyNumber', right_on='U3_COMPANY_NUMBER', how='left')
ticker_df.drop('U3_COMPANY_NUMBER', axis=1, inplace=True)

ticker_df

# ticker_df.to_csv('ticker_df.csv', index=False)

In [38]:
# To merge CRI and compnadaily after data cleaning
# merged_df = pd.merge(ticker_df, df,  left_on='Ticker', right_on='tic', how='left')