In [94]:
import pandas as pd

In [95]:
cri_data = pd.read_pickle('./CRI_xy_PHD.pkl')

In [96]:
compustat_data = pd.read_pickle('./compustat_inputed_v1')

In [97]:
cri_data.head()

,CompNo,year,month,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,m2b,sigma,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,Default,day,date
489123,29823000.0,1991.0,1,0.045126,0.013825,1.810500,0.0,0.983576,-0.268833,0.003667,...,0.628782,0.221843,0.0,0.0,0.0,2.812531,0,0,1,1991-01-01
1714449,125959000.0,1991.0,1,0.045126,0.013825,7.910572,0.0,0.538243,0.018112,0.016005,...,3.515291,0.083693,0.0,0.0,0.0,2.812531,0,0,1,1991-01-01
64808,27304000.0,1991.0,1,0.045126,0.013825,6.080297,0.0,0.582996,-0.042528,0.006643,...,1.674587,0.075069,0.0,0.0,0.0,2.812531,0,0,1,1991-01-01
192576,27954000.0,1991.0,1,0.045126,0.013825,2.527857,0.0,1.041157,-0.129895,-0.010749,...,1.075097,0.191047,0.0,0.0,0.0,2.812531,0,0,1,1991-01-01
539304,30244000.0,1991.0,1,0.045126,0.013825,4.337317,0.0,0.656583,0.193871,0.007802,...,2.520483,0.182062,0.0,0.0,0.0,2.812531,0,0,1,1991-01-01

In [98]:
compustat_data.head()

,gvkey,datadate,tic,sic,ta,lt,dlc,dtp,che,lct,...,inventory_turnover,inventory_days,receivables_turnover,dso,working_capital_turnover,pe_ratio,retention_ratio,year,quarter,mm
0,1004,2001-11-30,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,11
1,1004,2001-12-31,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,12
2,1004,2002-01-31,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,1
3,1004,2002-02-28,AIR,5080.0,690.681,375.849,20.890,55.314,34.454,129.670,...,-16.751,-16.751,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,1.0,2
4,1004,2002-03-31,AIR,5080.0,690.681,375.849,20.890,55.314,34.454,129.670,...,-16.751,-16.751,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,1.0,3

In [99]:
print(compustat_data.shape)
print(cri_data.shape)

(2374929, 44)
(2240223, 23)

In [100]:
print(len(compustat_data['gvkey'].unique()))
print(len(cri_data['CompNo'].unique()))

22672
23511

In [101]:
company_map = pd.read_csv('./compustat_company_map.xlsx - in.csv')
company_map.head()

   company_number   gvkey
0           50797  177439
1           92318  160317
2           92300  106156
3           45321  141466
4           43665   66636

In [102]:
# Format comp no 
cri_data['CompNo_formatted'] = cri_data['CompNo'].apply(lambda x: int(x / 1000))

In [103]:
# mapping from company number to gvkey
mapping_dict = company_map.set_index('company_number')['gvkey'].to_dict()

In [104]:
cri_data['gvkey'] = cri_data['CompNo_formatted'].map(mapping_dict)

In [105]:
cri_data = cri_data.dropna()
cri_data.shape # lost about 300k rows from missing mapping values, ie 13%

(1943733, 25)

In [106]:
compustat_data.head()

,gvkey,datadate,tic,sic,ta,lt,dlc,dtp,che,lct,...,inventory_turnover,inventory_days,receivables_turnover,dso,working_capital_turnover,pe_ratio,retention_ratio,year,quarter,mm
0,1004,2001-11-30,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,11
1,1004,2001-12-31,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,12
2,1004,2002-01-31,AIR,5080.0,714.208,429.864,71.162,55.134,53.129,183.797,...,-8.661,-8.661,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,4.0,1
3,1004,2002-02-28,AIR,5080.0,690.681,375.849,20.890,55.314,34.454,129.670,...,-16.751,-16.751,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,1.0,2
4,1004,2002-03-31,AIR,5080.0,690.681,375.849,20.890,55.314,34.454,129.670,...,-16.751,-16.751,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,1.0,3

In [107]:
# clean compustat
compustat_data.rename(columns = {'mm': 'month'}, inplace=True)
compustat_data.drop(columns = ['datadate', 'tic', 'sic', 'quarter'], inplace=True)
compustat_data

,gvkey,ta,lt,dlc,dtp,che,lct,act,invtq,intanq,...,asset_turnover,inventory_turnover,inventory_days,receivables_turnover,dso,working_capital_turnover,pe_ratio,retention_ratio,year,month
0,1004,714.2080,429.8640,71.162,55.1340,53.129,183.797,714.2080,265.818,48.474,...,0.416489,-8.6610,-8.6610,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,11
1,1004,714.2080,429.8640,71.162,55.1340,53.129,183.797,714.2080,265.818,48.474,...,0.416489,-8.6610,-8.6610,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,12
2,1004,714.2080,429.8640,71.162,55.1340,53.129,183.797,714.2080,265.818,48.474,...,0.416489,-8.6610,-8.6610,1.828483,199.619019,0.502881,-5.093750,146.623341,2001.0,1
3,1004,690.6810,375.8490,20.890,55.3140,34.454,129.670,690.6810,271.342,45.453,...,0.291972,-16.7510,-16.7510,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,2
4,1004,690.6810,375.8490,20.890,55.3140,34.454,129.670,690.6810,271.342,45.453,...,0.291972,-16.7510,-16.7510,2.005354,182.012763,0.447152,-3.957219,3546.832238,2002.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374924,353945,407.2310,75.4930,6.954,0.1485,33.225,64.711,407.2310,32.924,26.303,...,0.532039,-6.3005,-6.3005,1.578615,231.215355,0.677005,16.630451,5.297990,2022.0,8
2374925,353945,488.3815,228.0905,8.396,0.2030,35.454,77.485,488.3815,74.236,39.820,...,0.358163,-13.7490,-13.7490,1.490826,246.804261,0.588082,-4.336634,11.068578,2022.0,9
2374926,353945,488.3815,228.0905,8.396,0.2030,35.454,77.485,488.3815,74.236,39.820,...,0.358163,-13.7490,-13.7490,1.490826,246.804261,0.588082,-4.336634,11.068578,2022.0,10
2374927,353945,488.3815,228.0905,8.396,0.2030,35.454,77.485,488.3815,74.236,39.820,...,0.358163,-13.7490,-13.7490,1.490826,246.804261,0.588082,-4.336634,11.068578,2022.0,11
2374928,353945,981.5510,685.0450,7.130,32.8110,189.357,286.396,981.5510,186.287,10.540,...,1.000000,-33.6320,-33.6320,3.380577,107.969740,2.376009,15.796183,186.322000,2022.0,12

In [108]:
cri_data

,CompNo,year,month,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,Default,day,date,CompNo_formatted,gvkey
489123,29823000.0,1991.0,1,0.045126,0.013825,1.810500,0.000000,0.983576,-0.268833,0.003667,...,0.000000,0.000000,0.000000,2.812531,0,0,1,1991-01-01,29823,4607.0
1714449,125959000.0,1991.0,1,0.045126,0.013825,7.910572,0.000000,0.538243,0.018112,0.016005,...,0.000000,0.000000,0.000000,2.812531,0,0,1,1991-01-01,125959,6074.0
64808,27304000.0,1991.0,1,0.045126,0.013825,6.080297,0.000000,0.582996,-0.042528,0.006643,...,0.000000,0.000000,0.000000,2.812531,0,0,1,1991-01-01,27304,3532.0
192576,27954000.0,1991.0,1,0.045126,0.013825,2.527857,0.000000,1.041157,-0.129895,-0.010749,...,0.000000,0.000000,0.000000,2.812531,0,0,1,1991-01-01,27954,8333.0
539304,30244000.0,1991.0,1,0.045126,0.013825,4.337317,0.000000,0.656583,0.193871,0.007802,...,0.000000,0.000000,0.000000,2.812531,0,0,1,1991-01-01,30244,5839.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805772,32308000.0,2023.0,7,0.110445,0.009928,5.631405,0.160490,0.252861,0.004128,0.002579,...,0.000000,0.000000,0.000000,3.244875,0,0,1,2023-07-01,32308,174637.0
2199389,92092000.0,2023.0,7,0.015960,-0.010290,5.841532,0.910713,0.000000,0.000000,0.000585,...,-3.171261,-0.213082,3.453191,0.000000,1,0,1,2023-07-01,92092,163968.0
805572,32307000.0,2023.0,7,0.110445,0.009928,3.666131,1.479932,0.458523,0.003382,0.006625,...,0.000000,0.000000,0.000000,3.244875,0,0,1,2023-07-01,32307,66371.0
1464489,44224000.0,2023.0,7,0.110445,0.009928,9.384103,2.397847,2.617266,-0.107896,0.003600,...,0.000000,0.000000,0.000000,3.244875,0,0,1,2023-07-01,44224,112111.0
2129490,52383000.0,2023.0,7,0.015960,-0.010290,3.347231,0.792576,0.303174,-0.088284,0.006077,...,0.000000,0.000000,0.000000,2.087496,0,0,1,2023-07-01,52383,184582.0

In [109]:
# left join on gvkey, year, month where left is CRI data, right is compustat
cri_compustat_merged = cri_data.merge(compustat_data, how='inner')

In [110]:
cri_compustat_merged.head()

,CompNo,year,month,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,net_profit_margin,roa,asset_turnover,inventory_turnover,inventory_days,receivables_turnover,dso,working_capital_turnover,pe_ratio,retention_ratio
0,42404002.0,2000.0,1,0.089239,0.011089,0.677551,0.332808,1.411466,0.027249,-0.148249,...,-inf,-5.882353,0.000000,0.035,0.035,1.083328,336.925063,0.000000,-0.833333,-99.519750
1,37610000.0,2000.0,1,0.089239,0.011089,0.087376,-0.524732,0.906364,-0.071829,0.000292,...,24.982837,-12.570935,0.255210,-0.413,-0.413,1.912130,190.886574,2.055384,-0.341530,6.787842
2,49536000.0,2000.0,1,0.313050,0.007314,3.693176,0.625516,1.872712,1.010148,-0.069998,...,75.426439,-8.322594,0.358015,0.000,0.000,0.574579,635.247868,0.038721,-35.606061,-73.867110
3,32417000.0,2000.0,1,0.089239,0.011089,6.165654,0.863910,1.275166,0.184606,0.013360,...,52.341576,3.588386,0.236883,-4.463,-4.463,1.295937,281.649489,0.525214,15.348538,183.313219
4,44933000.0,2000.0,1,0.089239,0.011089,0.629410,-0.874122,0.000000,0.000000,0.004436,...,74.952502,0.577149,0.290137,0.000,0.000,10.253247,35.598480,-1.942129,12.797619,5.403687

In [111]:
cri_compustat_merged.shape #lost about 760249 rows, or 39%

(1183618, 62)

In [112]:
len(cri_compustat_merged['gvkey'].unique())

10907

In [115]:
cri_compustat_merged.to_pickle('./cri_compustat_merged_v1.pkl')