In [2]:
import pandas as pd
df = pd.read_csv('g0mutmqkqyhytzev.csv')
df.head()

/var/folders/kp/rt42wzwx7sz9plr9l175fkv40000gn/T/ipykernel_7394/2245958990.py:2: DtypeWarning: Columns (10,12,13,17,18,20,25,26,30,32,33,34,35,647,648,649,650,654,656,664,668,669,674,675,678,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('g0mutmqkqyhytzev.csv')

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1004,2000-02-29,1999,3.0,5,INDL,C,D,STD,AIR,...,1.0,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1988-01-01
1,1004,2000-05-31,1999,4.0,5,INDL,C,D,STD,AIR,...,1.0,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1988-01-01
2,1004,2000-08-31,2000,1.0,5,INDL,C,D,STD,AIR,...,1.0,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1988-01-01
3,1004,2000-11-30,2000,2.0,5,INDL,C,D,STD,AIR,...,1.0,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1988-01-01
4,1004,2001-02-28,2000,3.0,5,INDL,C,D,STD,AIR,...,1.0,5080,110.0,925.0,B,IL,0.0,www.aarcorp.com,NaN,1988-01-01

In [3]:
df_with_ratios = pd.DataFrame(df[['datadate', 'gvkey', 'fqtr', 'fyr', 'tic', 'sic']])
df_with_ratios.isna().sum()

datadate      0
gvkey         0
fqtr        346
fyr           0
tic         694
sic           0
dtype: int64

Looks like gvkey would be a better primary key than ticker since it has no nans in this dataset. We also need to inspect financial quarter

In [4]:
df_with_ratios[df['fqtr'].isna()]

           datadate   gvkey  fqtr  fyr    tic   sic
2746     2014-03-31    1224   NaN   12   EGN1  4924
2747     2014-06-30    1224   NaN   12   EGN1  4924
12300    2014-11-30    1951   NaN    8  PRSNQ  3845
31199    2014-12-31    3424   NaN    9     BH  5812
35114    2014-12-31    3806   NaN    9   DWSN  1382
...             ...     ...   ...  ...    ...   ...
1050126  2013-06-30  196766   NaN    3  ALGDF  1040
1050128  2013-09-30  196766   NaN    3  ALGDF  1040
1074260  2015-06-30  317427   NaN    3   NOMD  2030
1074262  2015-09-30  317427   NaN    3   NOMD  2030
1074264  2015-12-31  317427   NaN    3   NOMD  2030

[346 rows x 6 columns]

No clear pattern in financial quarters with nan values. Just use date value since there is no nans there

In [5]:
df_with_ratios.drop(['fqtr', 'fyr'], axis=1, inplace=True)
df_with_ratios.head()

     datadate  gvkey  tic   sic
0  2000-02-29   1004  AIR  5080
1  2000-05-31   1004  AIR  5080
2  2000-08-31   1004  AIR  5080
3  2000-11-30   1004  AIR  5080
4  2001-02-28   1004  AIR  5080

In [6]:
df['average_asset'] = (df['atq'] + df['atq'].shift(1)) / 2
df['average_inventory'] = (df['invtq'] + df['invtq'].shift(1)) / 2
df['average_receivables'] = (df['rectq'] + df['rectq'].shift(1)) / 2
df['average_workingcapital'] = (df['wcapq'] + df['wcapq'].shift(1)) / 2
df['cogs'] = df['cogsq'] / (df['cogsy'])

In [7]:
df_with_ratios['current_ratio'] = df['actq'] / (df['lctq'])
df_with_ratios['quick_ratio'] = (df['actq'] - df['invtq']) / ( df['lctq']) 
df_with_ratios['cash_ratio'] = df['chechy'] / (df['lctq'] ) 
df_with_ratios['net_working_capital'] = df['actq'] - df['lctq']
df_with_ratios['debt_ratio'] = (df['dlttq'] + df['dlcq']) / ( df['atq'])
df_with_ratios['debt_to_equity_ratio'] = (df['dlttq'] + df['dlcq']) / ( df['ceqq']) 
df_with_ratios['equity_ratio'] = df['ceqq'] / (df['atq'])
df_with_ratios['cashflow_to_debt_ratio'] = df['oancfy'] / (df['dlttq'] + df['dlcq'])
df_with_ratios['net_profit_margin'] = 100 * (df['niq'] / ( df['revtq']))
df_with_ratios['return_on_assets'] = 100 * (df['niq'] / (df['atq']))
df_with_ratios['asset_turnover'] = df['revtq'] / (df['average_asset'])
df_with_ratios['inventory_turnover'] = df['cogs'] / (df['average_inventory'])
df_with_ratios['days_in_inventory'] = 365 / (df['cogs'] / ( df['average_inventory']))
df_with_ratios['receivables_turnover'] = df['revtq'] / ( df['average_inventory'])
df_with_ratios['day_sales_outstanding'] = 365 / (df['revtq'] / (df['average_inventory']))
df_with_ratios['working_capital_turnover'] = df['revtq'] /  df['average_workingcapital']
df_with_ratios['price_to_earnings'] = df['prccq'] / (df['epsfxq'])
df_with_ratios['dividend_payout_ratio'] = df['dvpspq'] / ( df['epsfxq'])
df_with_ratios['retention_ratio'] = 1 - (df['dvpspq'] / (df['epsfxq']))
df_with_ratios['gross_margin_ratio'] = 100 * ((df['revtq'] - df['cogsq']) / ( df['revtq']))
df_with_ratios['operating_profit_margin'] = 100 * ((df['revtq'] - df['cogsq']- df['xoprq']) / (df['revtq']))
df_with_ratios['ebitda_margin'] = 100 * ((df['revtq'] - df['cogsq']- df['xoprq'] + df['dpq']) / (df['revtq']))
df_with_ratios['debt_service_coverage_ratio'] = (df['revtq'] - df['cogsq']- df['xoprq']) / (df['dlttq'] + df['dlcq'])
df_with_ratios['interest_coverage_ratio'] = df['oibdpq'] / ( df['xintq'])

In [8]:
df_with_ratios.head(5)

,datadate,gvkey,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,debt_to_equity_ratio,...,day_sales_outstanding,working_capital_turnover,price_to_earnings,dividend_payout_ratio,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio
0,2000-02-29,1004,AIR,5080,2.981531,1.176928,-0.021609,350.202,0.273288,0.601468,...,NaN,NaN,59.375000,0.212500,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950
1,2000-05-31,1004,AIR,5080,3.120983,1.069792,-0.042786,347.451,0.279030,0.608989,...,531.051575,0.645246,154.166667,0.944444,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927
2,2000-08-31,1004,AIR,5080,3.032279,0.989191,-0.003399,341.996,0.305692,0.673592,...,513.171702,0.701345,93.750000,0.708333,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365
3,2000-11-30,1004,AIR,5080,2.718261,0.897575,0.009653,325.382,0.298354,0.675752,...,594.639896,0.633329,64.843750,0.531250,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634
4,2001-02-28,1004,AIR,5080,3.136912,1.025058,-0.002824,358.685,0.304446,0.666264,...,637.845577,0.584946,68.000000,0.425000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489

In [9]:
print(f"length of dataset: {len(df_with_ratios)}")
print(f"shape of dataset: {df_with_ratios.shape}")

length of dataset: 1075571
shape of dataset: (1075571, 28)

In [10]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan'] = (df_with_ratios.isna().sum() / len(df_with_ratios)) * 100
nan_breakdown

                               pct_nan
datadate                      0.000000
gvkey                         0.000000
tic                           0.064524
sic                           0.000000
current_ratio                37.248122
quick_ratio                  38.371990
cash_ratio                   38.470171
net_working_capital          37.207679
debt_ratio                   28.442846
debt_to_equity_ratio         28.606852
equity_ratio                 24.486993
cashflow_to_debt_ratio       31.512564
net_profit_margin            28.302827
return_on_assets             24.576527
asset_turnover               33.507690
inventory_turnover           37.789509
days_in_inventory            37.789509
receivables_turnover         42.795501
day_sales_outstanding        42.795501
working_capital_turnover     40.247645
price_to_earnings            30.025261
dividend_payout_ratio        34.557272
retention_ratio              34.557272
gross_margin_ratio           36.340418
operating_profit_margin      29.008964
ebitda_margin                35.047152
debt_service_coverage_ratio  35.057007
interest_coverage_ratio      42.831947

At this point our dataset should have columns with at most 20-30% nan values. we shall now inpute them using sector median. 
Let us first try Methodology 1: 
1. map gvkey to sector
2. Eg. if company X in sector A on date 2000-01-01 has a missing value for total income, we inpute it using the median of sector A in 2000-01-01. 

This assumes that on a particular date, a companies fundamentals can be represented by its sector median on that date. 
Sector will be represented by SIC code. (I used all 4 digits for now)

First let us convert datadate to year and quarter representation

In [11]:
df_with_ratios['datadate'] = pd.to_datetime(df_with_ratios['datadate'])
df_with_ratios['year'] = df_with_ratios['datadate'].dt.year
df_with_ratios['quarter'] = df_with_ratios['datadate'].dt.quarter
df_with_ratios.head()

,datadate,gvkey,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,debt_to_equity_ratio,...,price_to_earnings,dividend_payout_ratio,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,year,quarter
0,2000-02-29,1004,AIR,5080,2.981531,1.176928,-0.021609,350.202,0.273288,0.601468,...,59.375000,0.212500,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950,2000,1
1,2000-05-31,1004,AIR,5080,3.120983,1.069792,-0.042786,347.451,0.279030,0.608989,...,154.166667,0.944444,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927,2000,2
2,2000-08-31,1004,AIR,5080,3.032279,0.989191,-0.003399,341.996,0.305692,0.673592,...,93.750000,0.708333,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365,2000,3
3,2000-11-30,1004,AIR,5080,2.718261,0.897575,0.009653,325.382,0.298354,0.675752,...,64.843750,0.531250,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634,2000,4
4,2001-02-28,1004,AIR,5080,3.136912,1.025058,-0.002824,358.685,0.304446,0.666264,...,68.000000,0.425000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489,2001,1

In [12]:
df_drop_duplicates = df_with_ratios.drop_duplicates(subset=['gvkey', 'year', 'quarter'])
len(df_with_ratios) - len(df_drop_duplicates)

1402

We then drop rows where there are duplicate year, quarters and gvkey, since the original dataset is monthly data. We only drop 1402 rows, so not significant.

In [13]:
df_with_ratios = df_drop_duplicates

Now we find all the gvkeys where there is no data at all and drop them from our dataframe. From this operation we remove 6813 gvkeys from a total of

In [14]:
df_drop_gvkey = df_with_ratios.drop(['sic',  'tic', 'year', 'quarter', 'datadate'], axis=1)
df_drop_gvkey = df_drop_gvkey.groupby('gvkey').apply(lambda group: group.iloc[:, 1:].isna().all().all())
to_drop = df_drop_gvkey[df_drop_gvkey == True]
gvkeys_to_drop = list(to_drop.index)

In [25]:
original_number_of_gvkeys = len(df_with_ratios['gvkey'].unique())
print(f"Dropped {len(gvkeys_to_drop) * 100 / original_number_of_gvkeys}% of stocks")

Dropped 22.53381394887397% of stocks

In [26]:
df_with_ratios_dropped_gvkey = df_with_ratios[~df_with_ratios['gvkey'].isin(gvkeys_to_drop)]
print(f"number of unique gvkeys now: {len(df_with_ratios_dropped_gvkey['gvkey'].unique())}")
print(f"% of total rows lost: {(len(df_with_ratios) - len(df_with_ratios_dropped_gvkey)) * 100 / len(df_with_ratios)  }%")

number of unique gvkeys now: 23425
% of total rows lost: 17.750651899282143%

In [29]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan'] = (df_with_ratios_dropped_gvkey.isna().sum() / len(df_with_ratios_dropped_gvkey)) * 100
nan_breakdown

                               pct_nan
datadate                      0.000000
gvkey                         0.000000
tic                           0.027957
sic                           0.000000
current_ratio                23.707834
quick_ratio                  25.075580
cash_ratio                   25.167941
net_working_capital          23.658937
debt_ratio                   12.990197
debt_to_equity_ratio         13.190650
equity_ratio                  8.179315
cashflow_to_debt_ratio       16.698529
net_profit_margin            12.821775
return_on_assets              8.272354
asset_turnover               19.121174
inventory_turnover           24.318475
days_in_inventory            24.318475
receivables_turnover         30.411422
day_sales_outstanding        30.411422
working_capital_turnover     27.304564
price_to_earnings            14.922065
dividend_payout_ratio        20.426781
retention_ratio              20.426781
gross_margin_ratio           22.593399
operating_profit_margin      13.677353
ebitda_margin                21.018860
debt_service_coverage_ratio  21.023388
interest_coverage_ratio      30.498010
year                          0.000000
quarter                       0.000000

We can also see that the % of nans has decreased significantly across columns after dropping these gvkeys

In [30]:
test = df_with_ratios_dropped_gvkey
test = test[test.isna().any(axis=1)]
test[test['tic'] == 'AFAP']

,datadate,gvkey,tic,sic,current_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,debt_to_equity_ratio,...,price_to_earnings,dividend_payout_ratio,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio,year,quarter
156,2000-03-31,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,84.745763,0.282486,0.717514,NaN,NaN,NaN,NaN,NaN,2000,1
157,2000-06-30,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,49.848943,0.151057,0.848943,NaN,NaN,NaN,NaN,NaN,2000,2
158,2000-09-30,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,3
159,2000-12-31,1019,AFAP,7380,1.640074,1.550835,0.116883,3.450,0.062365,0.135467,...,34.014870,0.092937,0.907063,-17.483221,-195.148610,-185.426654,-22.792833,24.408072,2000,4
160,2001-03-31,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,75.100402,0.200803,0.799197,NaN,NaN,NaN,NaN,NaN,2001,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2019-12-31,1019,AFAP,7380,1.405545,1.159588,0.031515,6.846,0.054954,0.157569,...,13.225569,0.036738,0.963262,32.806181,-60.904102,-58.519883,-27.607201,44.666667,2019,4
236,2020-03-31,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,1
237,2020-06-30,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2
238,2020-09-30,1019,AFAP,7380,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,3
239,2020-12-31,1019,AFAP,7380,1.996918,1.743017,0.268863,15.525,0.213655,0.643074,...,10.814170,0.031075,0.968925,32.663675,-60.357527,-58.030455,-5.757153,52.935780,2020,4

In [35]:
len(df_with_ratios_dropped_gvkey)

883497

Here we can see that there are still certain stocks where there is data, but many missing values. for example for ticker AFAP, we have data missing from 2003-2016. Such tickers should be dropped as well

In [31]:
cols_df = df_with_ratios_dropped_gvkey.drop(['gvkey', 'sic',  'tic', 'year', 'quarter', 'datadate'], axis=1)
all_na_rows = cols_df[cols_df.isna().all(axis=1)] # all rows where each feature is NA
df_with_nans = df_with_ratios_dropped_gvkey.loc[all_na_rows.index]
df_with_nans_counts = df_with_nans.groupby('gvkey').size() # Number of nan rows for each gvkey
gvkey_with_bad_data = df_with_nans_counts[df_with_nans_counts > 10]

In [40]:
print(100*len(gvkey_with_bad_data) / len(df_with_ratios_dropped_gvkey['gvkey'].unique()))

2.992529348986126

We can decide here the threshold for which we want to drop our gvkeys. We drop gvkeys with more than 10 missing rows with all NANS. This causes us to drop 2.99% of gvkeys.

In [44]:
df_with_ratios_dropped_gvkey_v2 = df_with_ratios_dropped_gvkey[~df_with_ratios_dropped_gvkey['gvkey'].isin(gvkey_with_bad_data.index)]
print(f"% of total rows lost in total after this step: {(len(df_with_ratios) - len(df_with_ratios_dropped_gvkey_v2)) * 100 / len(df_with_ratios)  }%")

% of total rows lost in total after this step: 21.50732333552728%

In [45]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan'] = (df_with_ratios_dropped_gvkey_v2.isna().sum() / len(df_with_ratios)) * 100
nan_breakdown

                               pct_nan
datadate                      0.000000
gvkey                         0.000000
tic                           0.022995
sic                           0.000000
current_ratio                17.390932
quick_ratio                  18.483870
cash_ratio                   18.525577
net_working_capital          17.353787
debt_ratio                    8.907723
debt_to_equity_ratio          9.064216
equity_ratio                  5.069780
cashflow_to_debt_ratio       11.808663
net_profit_margin             8.826637
return_on_assets              5.143232
asset_turnover               13.043478
inventory_turnover           17.216937
days_in_inventory            17.216937
receivables_turnover         22.149494
day_sales_outstanding        22.149494
working_capital_turnover     19.646257
price_to_earnings            10.492669
dividend_payout_ratio        14.885460
retention_ratio              14.885460
gross_margin_ratio           16.633695
operating_profit_margin       9.491337
ebitda_margin                15.245366
debt_service_coverage_ratio  15.316584
interest_coverage_ratio      22.883829
year                          0.000000
quarter                       0.000000

Our % of rows dropped increased from 17% to 21%. We can reduce this perentage by increasing the tolerance of how many nan rows a stock can have. This is balancing data quantity vs quality. % of nans for many rows also decreased.

In [46]:
# dealing with inf value
inf_breakdown = pd.DataFrame()
inf_breakdown['pct_inf'] = (100 * df_with_ratios_dropped_gvkey_v2.isin([float('inf'), float('-inf')]).sum()) / len(df_with_ratios_dropped_gvkey_v2)
inf_breakdown

                               pct_inf
datadate                      0.000000
gvkey                         0.000000
tic                           0.000000
sic                           0.000000
current_ratio                 0.082430
quick_ratio                   0.082311
cash_ratio                    0.071874
net_working_capital           0.000000
debt_ratio                    0.182531
debt_to_equity_ratio          0.011742
equity_ratio                  0.335293
cashflow_to_debt_ratio       15.462602
net_profit_margin            11.375518
return_on_assets              0.320230
asset_turnover                0.013402
inventory_turnover           23.817047
days_in_inventory             0.050644
receivables_turnover         22.074640
day_sales_outstanding         0.899016
working_capital_turnover      0.009726
price_to_earnings             7.021932
dividend_payout_ratio         0.169841
retention_ratio               0.169841
gross_margin_ratio            1.872041
operating_profit_margin      11.136769
ebitda_margin                10.687380
debt_service_coverage_ratio  15.730409
interest_coverage_ratio      12.264572
year                          0.000000
quarter                       0.000000

Remove INF values for a gvkey but replacing it with its largest value. Replace negative INF with its smallest value

In [48]:
non_numerical_cols = ['gvkey', 'sic', 'tic', 'year', 'quarter', 'datadate']
numerical_cols = [col for col in df_with_ratios_dropped_gvkey_v2.columns if col not in non_numerical_cols]
df_without_inf = pd.DataFrame()
for col in non_numerical_cols: 
    df_without_inf[col] = df_with_ratios_dropped_gvkey_v2[col]
for col in numerical_cols: 
    df_without_inf[col] = df_with_ratios_dropped_gvkey_v2.groupby(['gvkey'])[col].transform(lambda x: x.replace([float('inf')], x.replace([float('inf')], float('-inf')).max())).transform(lambda x: x.replace([float('-inf')], x.replace([float('-inf')], float('inf')).min()))

In [50]:
inf_breakdown = pd.DataFrame()
inf_breakdown['pct_inf'] = (100 * df_without_inf.isin([float('inf'), float('-inf')]).sum()) / len(df_without_inf)
inf_breakdown

                             pct_inf
gvkey                            0.0
sic                              0.0
tic                              0.0
year                             0.0
quarter                          0.0
datadate                         0.0
current_ratio                    0.0
quick_ratio                      0.0
cash_ratio                       0.0
net_working_capital              0.0
debt_ratio                       0.0
debt_to_equity_ratio             0.0
equity_ratio                     0.0
cashflow_to_debt_ratio           0.0
net_profit_margin                0.0
return_on_assets                 0.0
asset_turnover                   0.0
inventory_turnover               0.0
days_in_inventory                0.0
receivables_turnover             0.0
day_sales_outstanding            0.0
working_capital_turnover         0.0
price_to_earnings                0.0
dividend_payout_ratio            0.0
retention_ratio                  0.0
gross_margin_ratio               0.0
operating_profit_margin          0.0
ebitda_margin                    0.0
debt_service_coverage_ratio      0.0
interest_coverage_ratio          0.0

In [51]:
df_without_inf.head()

,gvkey,sic,tic,year,quarter,datadate,current_ratio,quick_ratio,cash_ratio,net_working_capital,...,day_sales_outstanding,working_capital_turnover,price_to_earnings,dividend_payout_ratio,retention_ratio,gross_margin_ratio,operating_profit_margin,ebitda_margin,debt_service_coverage_ratio,interest_coverage_ratio
0,1004,5080,AIR,2000,1,2000-02-29,2.981531,1.176928,-0.021609,350.202,...,NaN,NaN,59.375000,0.212500,0.787500,18.234795,-72.491564,-70.807951,-0.958372,4.223950
1,1004,5080,AIR,2000,2,2000-05-31,3.120983,1.069792,-0.042786,347.451,...,531.051575,0.645246,154.166667,0.944444,0.055556,18.944015,-75.280235,-73.157425,-0.819497,2.287927
2,1004,5080,AIR,2000,3,2000-08-31,3.032279,0.989191,-0.003399,341.996,...,513.171702,0.701345,93.750000,0.708333,0.291667,16.176118,-77.799562,-75.858047,-0.823112,2.432365
3,1004,5080,AIR,2000,4,2000-11-30,2.718261,0.897575,0.009653,325.382,...,594.639896,0.633329,64.843750,0.531250,0.468750,18.857738,-73.583647,-71.446755,-0.674333,2.793634
4,1004,5080,AIR,2001,1,2001-02-28,3.136912,1.025058,-0.002824,358.685,...,637.845577,0.584946,68.000000,0.425000,0.575000,20.259808,-71.119752,-68.726602,-0.619269,3.174489

In [58]:
df_without_inf['sic_2']  = df['sic'].astype(str).str[:2].astype(int) # use major SIC group

In [59]:
sector_date_median = df_without_inf.groupby(['sic_2', 'year', 'quarter']).median()
sector_date_median

                      gvkey     sic  current_ratio  quick_ratio  cash_ratio  \
sic_2 year quarter
10    2000 1        26748.0  1040.0       2.027228     1.337097   -0.008772
           2        26837.0  1040.0       2.235176     1.330361   -0.014108
           3        26906.0  1040.0       1.885593     1.287574   -0.015638
           4        26910.0  1040.0       1.567034     1.266471   -0.025805
      2001 1        27309.0  1040.0       1.650396     1.168624   -0.011111
...                     ...     ...            ...          ...         ...
99    2022 2        37182.5  9995.0       0.343192     0.343192   -0.011795
           3        37493.0  9995.0       0.364865     0.364865   -0.001933
           4        37412.5  9995.0       0.298987     0.298987   -0.006556
      2023 1        37548.0  9995.0       0.465569     0.465569   -0.011681
           2        37543.0  9995.0       0.320375     0.320375    0.000000

                    net_working_capital  debt_ratio  debt_to_equity_ratio  \
sic_2 year quarter
10    2000 1                     1.2575    0.034892              0.004476
           2                     0.6945    0.035794              0.003925
           3                     0.5640    0.032941              0.003043
           4                     0.4460    0.048032              0.010961
      2001 1                     0.4030    0.039936              0.005299
...                                 ...         ...                   ...
99    2022 2                    -0.1665    0.005729              0.000000
           3                    -0.2290    0.062021             -0.000000
           4                    -0.1845    0.130641              0.000000
      2023 1                    -0.3430    0.170179              0.000000
           2                    -0.5710    0.116739              0.000000

                    equity_ratio  cashflow_to_debt_ratio  ...  \
sic_2 year quarter                                        ...
10    2000 1            0.742389               -0.226882  ...
           2            0.738709               -0.342188  ...
           3            0.777583               -0.492892  ...
           4            0.695705               -0.576022  ...
      2001 1            0.710131               -0.275648  ...
...                          ...                     ...  ...
99    2022 2            0.570273               -0.579582  ...
           3            0.504746               -0.739426  ...
           4            0.292845               -0.725869  ...
      2023 1            0.189131               -0.221521  ...
           2            0.152877               -0.385170  ...

                    day_sales_outstanding  working_capital_turnover  \
sic_2 year quarter
10    2000 1                   140.100516                       0.0
           2                   197.003250                      -0.0
           3                   226.385111                       0.0
           4                   217.759814                      -0.0
      2001 1                   256.164684                       0.0
...                                   ...                       ...
99    2022 2                   225.204959                      -0.0
           3                   182.144371                      -0.0
           4                   205.573019                       0.0
      2023 1                   230.792775                      -0.0
           2                   155.115823                      -0.0

                    price_to_earnings  dividend_payout_ratio  retention_ratio  \
sic_2 year quarter
10    2000 1                -6.280096                   -0.0              1.0
           2                -6.000000                   -0.0              1.0
           3                -3.390444                   -0.0              1.0
           4                -3.000000                    0.0              1.0
      2001 1                -4.500000                    0.0              1.0
...                               ...                    ...              ...
99    2022 2                18.444444                    0.0              1.0
           3                12.500000                   -0.0              1.0
           4                -0.238107                   -0.0              1.0
      2023 1                -0.746429                   -0.0              1.0
           2                12.965753                    0.0              1.0

                    gross_margin_ratio  operating_profit_margin  \
sic_2 year quarter
10    2000 1                 14.571308              -21892500.0
           2                 13.692438                 -72500.0
           3                 15.413116              -21892500.0
           4                -57.955072              -21892500.0
      2001 1                 15.270372              -21892500.0
...                                ...                      ...
99    2022 2                 27.007972              -21892500.0
           3                 27.878105              -21892500.0
           4                 29.469743              -21892500.0
      2023 1                 26.995015              -21892500.0
           2                 29.595345              -21892500.0

                    ebitda_margin  debt_service_coverage_ratio  \
sic_2 year quarter
10    2000 1        -2.185540e+07                    -0.983638
           2        -3.958571e+04                    -1.076507
           3        -2.185540e+07                    -1.325559
           4        -2.185540e+07                    -3.983498
      2001 1        -2.185540e+07                    -1.354348
...                           ...                          ...
99    2022 2        -2.185540e+07                    -0.799600
           3        -2.185540e+07                    -0.745410
           4        -2.185540e+07                    -0.656031
      2023 1        -2.185540e+07                    -0.664269
           2        -2.185540e+07                    -0.454000

                    interest_coverage_ratio
sic_2 year quarter
10    2000 1                      -8.571429
           2                     -12.836145
           3                     -11.666667
           4                     -57.583333
      2001 1                     -34.217391
...                                     ...
99    2022 2                 -297211.000000
           3                 -297211.000000
           4                 -297211.000000
      2023 1                    -125.000000
           2                     -56.681818

[6227 rows x 26 columns]

In [62]:
cols_to_check = [col for col in df_without_inf.columns if col not in ['datadate', 'year', 'quarter', 'sic', 'gvkey', 'tic', 'sic_2']]
cols_to_check

['current_ratio',
 'quick_ratio',
 'cash_ratio',
 'net_working_capital',
 'debt_ratio',
 'debt_to_equity_ratio',
 'equity_ratio',
 'cashflow_to_debt_ratio',
 'net_profit_margin',
 'return_on_assets',
 'asset_turnover',
 'inventory_turnover',
 'days_in_inventory',
 'receivables_turnover',
 'day_sales_outstanding',
 'working_capital_turnover',
 'price_to_earnings',
 'dividend_payout_ratio',
 'retention_ratio',
 'gross_margin_ratio',
 'operating_profit_margin',
 'ebitda_margin',
 'debt_service_coverage_ratio',
 'interest_coverage_ratio']

In [61]:
import numpy as np
def fill_with_median(x):
    sic = x['sic_2']
    year = x['year']
    quarter = x['quarter']
    for col in cols_to_check: 
        if np.isnan(x[col]): 
            median = sector_date_median[sector_date_median.index == (sic,year,quarter)][col].iloc[0]
            x[col] = median
    return x

In [63]:
from pandarallel import pandarallel
pandarallel.initialize()
df_inputed = df_without_inf.parallel_apply(fill_with_median, axis=1)

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [65]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan_before_sector_inpute'] = (df_with_ratios_dropped_gvkey_v2.isna().sum() / len(df_with_ratios)) * 100
nan_breakdown['pct_nan_after_sector_inpute'] = (df_inputed.isna().sum() / len(df_with_ratios)) * 100
nan_breakdown

,pct_nan_before_sector_inpute,pct_nan_after_sector_inpute
datadate,0.000000,0.000000
gvkey,0.000000,0.000000
tic,0.022995,0.022995
sic,0.000000,0.000000
current_ratio,17.390932,0.002048
quick_ratio,18.483870,0.002048
cash_ratio,18.525577,0.002234
net_working_capital,17.353787,0.002048
debt_ratio,8.907723,0.002793
debt_to_equity_ratio,9.064216,0.002793
equity_ratio,5.069780,0.001490
cashflow_to_debt_ratio,11.808663,0.003258
net_profit_margin,8.826637,0.000838
return_on_assets,5.143232,0.001490
asset_turnover,13.043478,0.002234
inventory_turnover,17.216937,0.002793
days_in_inventory,17.216937,0.002793
receivables_turnover,22.149494,0.002234
day_sales_outstanding,22.149494,0.002234
working_capital_turnover,19.646257,0.002793
price_to_earnings,10.492669,0.002048
dividend_payout_ratio,14.885460,0.002141
retention_ratio,14.885460,0.002141
gross_margin_ratio,16.633695,0.001303
operating_profit_margin,9.491337,0.001210
ebitda_margin,15.245366,0.001210
debt_service_coverage_ratio,15.316584,0.002979
interest_coverage_ratio,22.883829,0.004003
year,0.000000,0.000000
quarter,0.000000,0.000000

In [66]:
df_inputed.ffill(limit=4, inplace=True)
df_inputed.dropna(inplace=True)

In [68]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan'] = (df_inputed.isna().sum() / len(df_inputed)) * 100
nan_breakdown

                             pct_nan
gvkey                            0.0
sic                              0.0
tic                              0.0
year                             0.0
quarter                          0.0
datadate                         0.0
current_ratio                    0.0
quick_ratio                      0.0
cash_ratio                       0.0
net_working_capital              0.0
debt_ratio                       0.0
debt_to_equity_ratio             0.0
equity_ratio                     0.0
cashflow_to_debt_ratio           0.0
net_profit_margin                0.0
return_on_assets                 0.0
asset_turnover                   0.0
inventory_turnover               0.0
days_in_inventory                0.0
receivables_turnover             0.0
day_sales_outstanding            0.0
working_capital_turnover         0.0
price_to_earnings                0.0
dividend_payout_ratio            0.0
retention_ratio                  0.0
gross_margin_ratio               0.0
operating_profit_margin          0.0
ebitda_margin                    0.0
debt_service_coverage_ratio      0.0
interest_coverage_ratio          0.0
sic_2                            0.0

In [69]:
df_inputed.to_pickle('compustat_inputed.pkl')