In [135]:
import pandas as pd

In [139]:
cri_data = pd.read_pickle('../PHDcode/xy_data.pkl')

In [140]:
cri_data.shape[0]

2240223

In [141]:
compustat_data = pd.read_pickle('./compustat_inputed_v1')

In [142]:
compustat_data.shape

(2374929, 44)

In [143]:
inf_breakdown = pd.DataFrame()
inf_breakdown['pct_inf'] = (100 * compustat_data.isin([float('inf'), float('-inf')]).sum()) / len(compustat_data)
inf_breakdown

                            pct_inf
gvkey                      0.000000
datadate                   0.000000
tic                        0.000000
sic                        0.000000
ta                         0.000000
lt                         0.000000
dlc                        0.000000
dtp                        0.000000
che                        0.000000
lct                        0.000000
act                        0.000000
invtq                      0.000000
intanq                     0.000000
oiadp                      0.005516
txp                        0.000000
pi                         0.009937
ni                         0.012295
rev                        0.001726
cogs                       0.005432
oancf                      0.000000
ivncf                      0.000000
fncfa                      0.000000
curr_ratio                 0.171542
quick_ratio                0.178532
cash_ratio                 0.170784
net_working_capital        0.000000
debt_ratio                 0.053096
debt_equity_ratio          0.013053
equity_ratio               0.616987
financial_leverage_ratio   0.054275
cashflow_debt_ratio       25.803382
net_profit_margin          2.255646
roa                        0.334073
asset_turnover             0.001726
inventory_turnover         0.000000
inventory_days             0.000000
receivables_turnover       1.745905
dso                        8.245004
working_capital_turnover   0.043833
pe_ratio                   2.588456
retention_ratio            0.059033
year                       0.000000
quarter                    0.000000
mm                         0.000000

In [144]:
compustat_data.drop(columns = ['sic', 'txp', 'ta', 'lt', 'dlc', 'dtp', 'che', 'lct', 'act', 'invtq', 'intanq', 'oiadp', 'pi', 'ni', 'rev', 'cogs', 'oancf', 'ivncf', 'fncfa'], inplace=True)

In [145]:
import numpy as np
compustat_data.drop(columns = ['cashflow_debt_ratio', 'dso'], inplace=True)
compustat_no_inf = compustat_data[~compustat_data.isin([np.inf, -np.inf]).any(axis=1)] #remove remaining inf

In [146]:
inf_breakdown = pd.DataFrame()
inf_breakdown['pct_inf'] = (100 * compustat_no_inf.isin([float('inf'), float('-inf')]).sum()) / len(compustat_no_inf)
inf_breakdown

                          pct_inf
gvkey                         0.0
datadate                      0.0
tic                           0.0
curr_ratio                    0.0
quick_ratio                   0.0
cash_ratio                    0.0
net_working_capital           0.0
debt_ratio                    0.0
debt_equity_ratio             0.0
equity_ratio                  0.0
financial_leverage_ratio      0.0
net_profit_margin             0.0
roa                           0.0
asset_turnover                0.0
inventory_turnover            0.0
inventory_days                0.0
receivables_turnover          0.0
working_capital_turnover      0.0
pe_ratio                      0.0
retention_ratio               0.0
year                          0.0
quarter                       0.0
mm                            0.0

In [102]:
print(compustat_no_inf.shape)
print(cri_data.shape)

(2209124, 23)
(2240223, 22)

In [147]:
print(len(compustat_no_inf['gvkey'].unique()))
print(len(cri_data['CompNo'].unique()))

22553
20739

In [148]:
company_map = pd.read_csv('./compustat_company_map.xlsx - in.csv')
company_map.head()

   company_number   gvkey
0           50797  177439
1           92318  160317
2           92300  106156
3           45321  141466
4           43665   66636

In [149]:
# mapping from company number to gvkey
mapping_dict = company_map.set_index('company_number')['gvkey'].to_dict()

In [150]:
cri_data['gvkey'] = cri_data['CompNo'].map(mapping_dict)

In [151]:
cri_data = cri_data.dropna()
cri_data.shape # lost about 300k rows from missing mapping values, ie 13%

(1943733, 25)

In [152]:
# clean compustat
compustat_no_inf.rename(columns = {'mm': 'month'}, inplace=True)
compustat_no_inf.drop(columns = ['datadate', 'quarter'], inplace=True)
compustat_no_inf

C:\Users\shiho\AppData\Local\Temp\ipykernel_18256\2751716378.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_no_inf.rename(columns = {'mm': 'month'}, inplace=True)
C:\Users\shiho\AppData\Local\Temp\ipykernel_18256\2751716378.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_no_inf.drop(columns = ['datadate', 'quarter'], inplace=True)

,gvkey,tic,curr_ratio,quick_ratio,cash_ratio,net_working_capital,debt_ratio,debt_equity_ratio,equity_ratio,financial_leverage_ratio,...,roa,asset_turnover,inventory_turnover,inventory_days,receivables_turnover,working_capital_turnover,pe_ratio,retention_ratio,year,month
0,1004,AIR,2.567588,1.121330,0.213932,288.118,0.402049,0.667266,0.602532,1.659662,...,-7.628590,0.416489,-8.6610,-8.6610,1.828483,0.502881,-5.093750,146.623341,2001.0,11
1,1004,AIR,2.567588,1.121330,0.213932,288.118,0.402049,0.667266,0.602532,1.659662,...,-7.628590,0.416489,-8.6610,-8.6610,1.828483,0.502881,-5.093750,146.623341,2001.0,12
2,1004,AIR,2.567588,1.121330,0.213932,288.118,0.402049,0.667266,0.602532,1.659662,...,-7.628590,0.416489,-8.6610,-8.6610,1.828483,0.502881,-5.093750,146.623341,2001.0,1
3,1004,AIR,3.474157,1.381599,0.159212,320.824,0.421016,0.602432,0.698859,1.430903,...,-0.331557,0.291972,-16.7510,-16.7510,2.005354,0.447152,-3.957219,3546.832238,2002.0,2
4,1004,AIR,3.474157,1.381599,0.159212,320.824,0.421016,0.602432,0.698859,1.430903,...,-0.331557,0.291972,-16.7510,-16.7510,2.005354,0.447152,-3.957219,3546.832238,2002.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374924,353945,ACLLY,2.379581,1.178016,-0.010057,128.886,0.165499,0.037636,0.905398,1.013575,...,-1.722598,0.532039,-6.3005,-6.3005,1.578615,0.677005,16.630451,5.297990,2022.0,8
2374925,353945,ACLLY,2.517124,1.392924,-0.002727,222.247,0.231409,0.118487,0.929517,1.012345,...,-0.760346,0.358163,-13.7490,-13.7490,1.490826,0.588082,-4.336634,11.068578,2022.0,9
2374926,353945,ACLLY,2.517124,1.392924,-0.002727,222.247,0.231409,0.118487,0.929517,1.012345,...,-0.760346,0.358163,-13.7490,-13.7490,1.490826,0.588082,-4.336634,11.068578,2022.0,10
2374927,353945,ACLLY,2.517124,1.392924,-0.002727,222.247,0.231409,0.118487,0.929517,1.012345,...,-0.760346,0.358163,-13.7490,-13.7490,1.490826,0.588082,-4.336634,11.068578,2022.0,11
2374928,353945,ACLLY,2.147041,1.496589,0.405641,328.508,0.559058,1.211369,0.461509,2.166803,...,12.510914,1.000000,-33.6320,-33.6320,3.380577,2.376009,15.796183,186.322000,2022.0,12

In [153]:
# clean compustat
cri_data.rename(columns = {'mm': 'month'}, inplace=True)
cri_data.rename(columns = {'yyyy': 'year'}, inplace=True)

In [154]:
cri_data

,CompNo,year,month,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,liqfinlevel,lqfintrend,DTDmedianFin,DTDmedianNonFin,dummy297fin,EventDate,Default,StartDate,Duration,gvkey
4,15984,1999.0,7,0.162536,0.007322,4.190356,0.000000,0.447325,0.000000e+00,0.009320,...,0.0,0.0,0.0,2.455596,0,1999-07-31,0,1999-03-15,138 days,242606.0
5,15984,1999.0,8,0.379335,0.008205,4.728923,0.538567,0.447325,5.551115e-17,0.009320,...,0.0,0.0,0.0,2.459940,0,1999-08-31,0,1999-03-15,169 days,242606.0
6,15984,1999.0,9,0.261256,0.007744,4.779150,0.100454,0.447325,0.000000e+00,0.009320,...,0.0,0.0,0.0,2.499298,0,1999-09-30,0,1999-03-15,199 days,242606.0
7,15984,1999.0,10,0.255081,0.008686,4.872708,0.280674,0.447325,0.000000e+00,0.009320,...,0.0,0.0,0.0,2.506355,0,1999-10-31,0,1999-03-15,230 days,242606.0
8,15984,1999.0,11,0.193601,0.009534,4.932789,0.240323,0.447325,-5.551115e-17,0.009320,...,0.0,0.0,0.0,2.569107,0,1999-11-30,0,1999-03-15,260 days,242606.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2704126,93052,2014.0,1,-0.032551,-0.007589,4.875381,0.016004,-0.524664,-1.146979e-01,-0.000453,...,0.0,0.0,0.0,3.555031,0,2014-01-31,0,1988-01-04,9524 days,186971.0
2704127,93052,2014.0,2,0.032409,-0.007765,4.914407,-0.142694,-0.558468,-8.089396e-02,-0.000253,...,0.0,0.0,0.0,3.597814,0,2014-02-28,0,1988-01-04,9552 days,186971.0
2704128,93052,2014.0,3,0.033715,-0.007589,4.986252,0.173335,-0.570783,-1.125161e-01,0.001116,...,0.0,0.0,0.0,3.553756,0,2014-03-31,0,1988-01-04,9583 days,186971.0
2704129,93052,2014.0,4,0.080852,-0.007414,5.110287,0.756839,-0.583099,-1.002006e-01,0.002486,...,0.0,0.0,0.0,3.659561,0,2014-04-30,0,1988-01-04,9613 days,186971.0
2704130,93052,2014.0,5,0.087946,-0.007449,5.179865,0.022363,-0.599858,-2.143621e-01,0.002657,...,0.0,0.0,0.0,3.722877,0,2014-05-31,0,1988-01-04,9644 days,186971.0

In [156]:
# left join on gvkey, year, month where left is CRI data, right is compustat
cri_compustat_merged = cri_data.merge(compustat_no_inf, how='inner')

In [157]:
cri_compustat_merged.head()

,CompNo,year,month,StkIndx,STInt,dtdlevel,dtdtrend,liqnonfinlevel,liqnonfintrend,ni2talevel,...,financial_leverage_ratio,net_profit_margin,roa,asset_turnover,inventory_turnover,inventory_days,receivables_turnover,working_capital_turnover,pe_ratio,retention_ratio
0,22043,2016.0,1,-0.040079,-0.010317,1.907466,-0.143118,1.555253,-2.220446e-16,-0.074437,...,1.376779,-378.418231,-38.830143,0.578743,-0.677,-0.677,2.645390,-0.887039,-0.388889,-913.110751
1,22043,2016.0,2,-0.081412,-0.010297,1.735881,-0.343170,1.555253,0.000000e+00,-0.074437,...,1.376779,-378.418231,-38.830143,0.578743,-0.677,-0.677,2.645390,-0.887039,-0.388889,-913.110751
2,22043,2016.0,9,0.128936,-0.010462,1.230174,-0.337849,1.115545,-5.411626e-01,-0.087440,...,0.539837,-526.151013,-59.160248,1.000000,-0.202,-0.202,4.891892,-0.369388,-0.500000,-542.491588
3,22043,2016.0,10,0.022379,-0.010361,1.141664,-0.885097,1.070448,-4.960658e-01,-0.089105,...,0.539837,-526.151013,-59.160248,1.000000,-0.202,-0.202,4.891892,-0.369388,-0.500000,-542.491588
4,22043,2016.0,11,0.056756,-0.009654,1.110654,-0.341119,0.878741,-1.623972e+00,-0.099335,...,0.539837,-526.151013,-59.160248,1.000000,-0.202,-0.202,4.891892,-0.369388,-0.500000,-542.491588

In [158]:
cri_compustat_merged.shape #lost about 760249 rows, or 39%

(1146419, 43)

In [159]:
len(cri_compustat_merged['gvkey'].unique())

10844

In [160]:
inf_breakdown = pd.DataFrame()
inf_breakdown['pct_inf'] = (100 * cri_compustat_merged.isin([float('inf'), float('-inf')]).sum()) / len(cri_compustat_merged)
inf_breakdown

                          pct_inf
CompNo                        0.0
year                          0.0
month                         0.0
StkIndx                       0.0
STInt                         0.0
dtdlevel                      0.0
dtdtrend                      0.0
liqnonfinlevel                0.0
liqnonfintrend                0.0
ni2talevel                    0.0
ni2tatrend                    0.0
sizelevel                     0.0
sizetrend                     0.0
m2b                           0.0
sigma                         0.0
liqfinlevel                   0.0
lqfintrend                    0.0
DTDmedianFin                  0.0
DTDmedianNonFin               0.0
dummy297fin                   0.0
EventDate                     0.0
Default                       0.0
StartDate                     0.0
Duration                      0.0
gvkey                         0.0
tic                           0.0
curr_ratio                    0.0
quick_ratio                   0.0
cash_ratio                    0.0
net_working_capital           0.0
debt_ratio                    0.0
debt_equity_ratio             0.0
equity_ratio                  0.0
financial_leverage_ratio      0.0
net_profit_margin             0.0
roa                           0.0
asset_turnover                0.0
inventory_turnover            0.0
inventory_days                0.0
receivables_turnover          0.0
working_capital_turnover      0.0
pe_ratio                      0.0
retention_ratio               0.0

In [161]:
nan_breakdown = pd.DataFrame()
nan_breakdown['pct_nan'] = (cri_compustat_merged.isna().sum() / len(cri_compustat_merged)) * 100
nan_breakdown

                          pct_nan
CompNo                        0.0
year                          0.0
month                         0.0
StkIndx                       0.0
STInt                         0.0
dtdlevel                      0.0
dtdtrend                      0.0
liqnonfinlevel                0.0
liqnonfintrend                0.0
ni2talevel                    0.0
ni2tatrend                    0.0
sizelevel                     0.0
sizetrend                     0.0
m2b                           0.0
sigma                         0.0
liqfinlevel                   0.0
lqfintrend                    0.0
DTDmedianFin                  0.0
DTDmedianNonFin               0.0
dummy297fin                   0.0
EventDate                     0.0
Default                       0.0
StartDate                     0.0
Duration                      0.0
gvkey                         0.0
tic                           0.0
curr_ratio                    0.0
quick_ratio                   0.0
cash_ratio                    0.0
net_working_capital           0.0
debt_ratio                    0.0
debt_equity_ratio             0.0
equity_ratio                  0.0
financial_leverage_ratio      0.0
net_profit_margin             0.0
roa                           0.0
asset_turnover                0.0
inventory_turnover            0.0
inventory_days                0.0
receivables_turnover          0.0
working_capital_turnover      0.0
pe_ratio                      0.0
retention_ratio               0.0

In [162]:
cri_compustat_merged.to_pickle('./cri_compustat_merged_v5.pkl')

In [163]:
cri_compustat_merged.columns

Index(['CompNo', 'year', 'month', 'StkIndx', 'STInt', 'dtdlevel', 'dtdtrend',
       'liqnonfinlevel', 'liqnonfintrend', 'ni2talevel', 'ni2tatrend',
       'sizelevel', 'sizetrend', 'm2b', 'sigma', 'liqfinlevel', 'lqfintrend',
       'DTDmedianFin', 'DTDmedianNonFin', 'dummy297fin', 'EventDate',
       'Default', 'StartDate', 'Duration', 'gvkey', 'tic', 'curr_ratio',
       'quick_ratio', 'cash_ratio', 'net_working_capital', 'debt_ratio',
       'debt_equity_ratio', 'equity_ratio', 'financial_leverage_ratio',
       'net_profit_margin', 'roa', 'asset_turnover', 'inventory_turnover',
       'inventory_days', 'receivables_turnover', 'working_capital_turnover',
       'pe_ratio', 'retention_ratio'],
      dtype='object')